extends /include/bootstrap5

block beforehtml
  -
    title = 'Device Settings'
    description = 'A ChameleonUltra tool to management the device info and settings.'
    ogImage = 'https://i.imgur.com/TgVdsVo.png'
    ogImageWidth = 1200
    ogImageHeight = 600
    ogUrl = `${baseurl}device-settings.html`

block style
  style
    :sass
      [v-cloak]
        display: none
      .input-group-text
        width: 120px

block content
  #app
    nav-bar(baseurl=baseurl)
    .container.font-monospace.p-3.pb-5(v-cloak)
      header.text-center.mb-3
        h4.d-flex.justify-content-center.align-items-center.icon-link
          span.svgmask.svgmask-chameleon-ultra
          = title
      include /include/bootstrap5-adapter-content
      .row.g-2.ls-n1px.mb-2
        .col-6: button.btn.w-100.btn-outline-primary.ls-n1px.icon-link.justify-content-center(type="button" @click="btnLoadDevice")
          span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:logout.svg)")
          | Load
        .col-6: button.btn.w-100.btn-outline-success.ls-n1px.icon-link.justify-content-center(type="button" @click="btnSaveDevice")
          span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:login.svg)")
          | Save
      .card.shadow.mb-2
        h6.card-header.text-white.bg-secondary.icon-link
          span.svgmask.fs-1dot2em(style="--svgmask-url: url(https://api.iconify.design/mdi:cog.svg)")
          | Device Settings
        .card-body.overflow-hidden
          .row.g-2.ls-n1px
            .input-group.input-group-sm
              label.input-group-text.justify-content-center(for="ss-animationMode") animationMode
              select.form-select.ls-n1px#ss-animationMode(v-model.number="ss.animationMode")
                option(value="0") Full
                option(value="1") Short
                option(value="2") None
                option(value="3") Symmetric
            .input-group.input-group-sm
              label.input-group-text.justify-content-center(for="ss-blePairingMode") blePairingMode
              select.form-select.ls-n1px#ss-blePairingMode(v-model.number="ss.blePairingMode")
                option(value="0") Disable
                option(value="1") Enable
            .input-group.input-group-sm
              label.input-group-text.justify-content-center(for="ss-blePairingKey") blePairingKey
              input.form-control.ls-n1px#ss-blePairingKey(v-model="ss.blePairingKey", autocomplete="off", :type="ss.blePairingKeyVisible ? 'text' : 'password'")
              button.btn.btn-outline-secondary.icon-link(type="button", @click="ss.blePairingKeyVisible = !ss.blePairingKeyVisible")
                span.svgmask.fs-1dot5em(v-if="ss.blePairingKeyVisible" style="--svgmask-url: url(https://api.iconify.design/mdi:eye-outline.svg)")
                span.svgmask.fs-1dot5em(v-else style="--svgmask-url: url(https://api.iconify.design/mdi:eye-off-outline.svg)")
            .input-group.input-group-sm
              label.input-group-text.justify-content-center(for="ss-mode") deviceMode
              select.form-select.ls-n1px#ss-mode(v-model.number="ss.mode")
                option(value="0") TAG
                option(value="1") READER
            .input-group.input-group-sm(v-for="k in ['pressBtnA', 'pressBtnB', 'longPressBtnA', 'longPressBtnB']" :key="k")
              label.input-group-text.justify-content-center(:for="'ss-' + k") {{ k }}
              select.form-select.ls-n1px(:id="'ss-' + k" v-model.number="ss[k]")
                option(value="0") DISABLE
                option(value="1") CYCLE_SLOT_INC
                option(value="2") CYCLE_SLOT_DEC
                option(value="3") CLONE_IC_UID
                option(value="4") BATTERY
      .card.shadow.mb-2
        h6.card-header.text-white.bg-info.icon-link
          span.svgmask.fs-1dot2em(style="--svgmask-url: url(https://api.iconify.design/mdi:information-outline.svg)")
          | Device Info
        ul.list-group.list-group-flush.fs-14px.ls-n1px(v-if="ss.bleAddress")
          li.list-group-item.d-flex.justify-content-between.align-items-center
            span.text-muted appVersion
            span {{ ss?.appVersion ?? '?' }}
          li.list-group-item.d-flex.justify-content-between.align-items-center
            span.text-muted gitVersion
            span {{ ss?.gitVersion ?? '?' }}
          li.list-group-item.d-flex.justify-content-between.align-items-center
            span.text-muted bleAddress
            span {{ ss?.bleAddress ?? '?' }}
          li.list-group-item.d-flex.justify-content-between.align-items-center
            span.text-muted batteryLevel
            span {{ ss?.batteryLevel ?? '?' }} %
          li.list-group-item.d-flex.justify-content-between.align-items-center
            span.text-muted batteryVoltage
            span {{ ss?.batteryVoltage ?? '?' }} mV
          li.list-group-item.d-flex.justify-content-between.align-items-center
            span.text-muted chipId
            span {{ ss?.chipId ?? '?' }}
          li.list-group-item.d-flex.justify-content-between.align-items-center
            span.text-muted model
            span {{ ['ChameleonUltra', 'ChameleonLite']?.[ss?.model] ?? '?' }}
        .card-body.py-3(v-else) Click "Load" button to load device info.
      .card.shadow.mb-2
        h6.card-header.text-white.bg-danger.icon-link
          span.svgmask.fs-1dot2em(style="--svgmask-url: url(https://api.iconify.design/mdi:alert-outline.svg)")
          | Danger Zone
        .card-body.overflow-hidden
          .row.g-2.ls-n1px.mb-2
            .col-12: button.btn.w-100.btn-outline-primary.ls-n1px.icon-link.justify-content-center(type="button" @click="btnEnterBootloader")
              span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:chip.svg)")
              | Enter bootloader
            .col-12: button.btn.w-100.btn-outline-danger.ls-n1px.icon-link.justify-content-center(type="button" @click="btnResetSettings")
              span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:restore.svg)")
              | Reset settings
            .col-12: button.btn.w-100.btn-outline-danger.ls-n1px.icon-link.justify-content-center(type="button" @click="btnBleDeleteAllBonds")
              span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:bluetooth-off.svg)")
              | Delete ALL BLE bonds
            .col-12: button.btn.w-100.btn-outline-danger.ls-n1px.icon-link.justify-content-center(type="button" @click="btnWipeFds")
              span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:factory.svg)")
              | Factory reset
  include /include/bootstrap5-navbar-content

block script
  script(type="module").
    import { AnimationMode, ButtonAction, ButtonType, ChameleonUltra, DeviceMode } from 'chameleon-ultra.js'
    import Debug from 'chameleon-ultra.js/plugin/Debug'
    import WebbleAdapter from 'chameleon-ultra.js/plugin/WebbleAdapter'
    import WebserialAdapter from 'chameleon-ultra.js/plugin/WebserialAdapter'
    import { computed, createApp, reactive, watch } from 'vue'
    import { z } from 'zod'
    import { btnAdapterTips, loadPageStorage, savePageStorage, showLoading, swalConfirm, swalFire } from '@app/js/bootstrap5-utils.mjs'
    import NavBar from '@app/js/bootstrap5-navbar.mjs'
    import Swal from 'sweetalert2'

    const ultraUsb = new ChameleonUltra()
    ultraUsb.use(new Debug())
    ultraUsb.use(new WebserialAdapter())
    const ultraBle = new ChameleonUltra()
    ultraBle.use(new Debug())
    ultraBle.use(new WebbleAdapter())

    const zDeviceSettings = z.object({
      animationMode: z.nativeEnum(AnimationMode),
      blePairingKey: z.string().length(6).regex(/^\d{6}$/),
      blePairingMode: z.union([z.literal(0), z.literal(1)]),
      longPressBtnA: z.nativeEnum(ButtonAction),
      longPressBtnB: z.nativeEnum(ButtonAction),
      mode: z.nativeEnum(DeviceMode),
      pressBtnA: z.nativeEnum(ButtonAction),
      pressBtnB: z.nativeEnum(ButtonAction),
    })

    window.vm = createApp({
      components: { NavBar },
      setup () {
        const ls = reactive({ adapter: 'ble' })
        const ss = reactive({
          animationMode: null,
          appVersion: null,
          batteryLevel: null,
          batteryVoltage: null,
          bleAddress: null,
          blePairingKey: null,
          blePairingKeyVisible: false,
          blePairingMode: null,
          chipId: null,
          gitVersion: null,
          longPressBtnA: null,
          longPressBtnB: null,
          mode: null,
          model: null,
          pressBtnA: null,
          pressBtnB: null,
        })

        loadPageStorage(localStorage, ls)
        loadPageStorage(sessionStorage, ss)
        watch(ls, () => { savePageStorage(localStorage, ls) }, { deep: true })
        watch(ss, () => { savePageStorage(sessionStorage, ss) }, { deep: true })

        const ultra = computed(() => ls.adapter === 'usb' ? ultraUsb : ultraBle)

        const logError = (err) => {
          ultra.value.emitter.emit('error', err)
        }

        async function btnLoadDevice () {
          try {
            showLoading({ text: 'Loading settings...' })
            const batteryInfo = await ultra.value.cmdGetBatteryInfo()
            const loaded = {
              animationMode: await ultra.value.cmdGetAnimationMode(),
              appVersion: await ultra.value.cmdGetAppVersion(),
              batteryLevel: batteryInfo.level,
              batteryVoltage: batteryInfo.voltage,
              bleAddress: await ultra.value.cmdBleGetAddress(),
              blePairingKey: await ultra.value.cmdBleGetPairingKey(),
              blePairingMode: await ultra.value.cmdBleGetPairingMode() ? 1 : 0,
              chipId: await ultra.value.cmdGetDeviceChipId(),
              gitVersion: await ultra.value.cmdGetGitVersion(),
              mode: await ultra.value.cmdGetDeviceMode(),
              model: await ultra.value.cmdGetDeviceModel(),
            }
            for (const btn of [ButtonType.BUTTON_A, ButtonType.BUTTON_B]) {
              const btnName = 'AB'[btn - ButtonType.BUTTON_A]
              loaded[`pressBtn${btnName}`] = await ultra.value.cmdGetButtonPressAction(btn)
              loaded[`longPressBtn${btnName}`] = await ultra.value.cmdGetButtonLongPressAction(btn)
            }
            Object.assign(ss, loaded, { blePairingKeyVisible: false })
            Swal.close()
          } catch (err) {
            logError(err)
            await swalFire({ icon: 'error', text: err.message })
          }
        }

        async function btnSaveDevice () {
          try {
            showLoading({ text: 'Saving settings...' })
            const parsed = zDeviceSettings.parse(ss)
            await ultra.value.cmdSetAnimationMode(parsed.animationMode)
            await ultra.value.cmdBleSetPairingMode(parsed.blePairingMode)
            await ultra.value.cmdBleSetPairingKey(parsed.blePairingKey)
            await ultra.value.cmdChangeDeviceMode(parsed.mode)
            for (const btn of [ButtonType.BUTTON_A, ButtonType.BUTTON_B]) {
              const btnName = 'AB'[btn - ButtonType.BUTTON_A]
              await ultra.value.cmdSetButtonPressAction(btn, parsed[`pressBtn${btnName}`])
              await ultra.value.cmdSetButtonLongPressAction(btn, parsed[`longPressBtn${btnName}`])
            }
            await ultra.value.cmdSaveSettings()
            await swalFire({ icon: 'success', text: 'Settings save successfully!' })
          } catch (err) {
            logError(err)
            await swalFire({ icon: 'error', text: err.message })
          }
        }

        async function btnEnterBootloader () {
          if (!await swalConfirm('Enter bootloader?', 'Yes', 'Cancel')) return
          await ultra.value.cmdDfuEnter().catch(logError)
        }

        async function btnResetSettings () {
          if (!await swalConfirm('Reset to default settings?', 'Yes', 'Cancel')) return
          await ultra.value.cmdResetSettings().catch(logError)
        }

        async function btnBleDeleteAllBonds () {
          if (!await swalConfirm('Delete ALL BLE bonds?', 'Yes', 'Cancel')) return
          await ultra.value.cmdBleDeleteAllBonds().catch(logError)
        }

        async function btnWipeFds () {
          if (!await swalConfirm('Factory reset?', 'Yes', 'Cancel')) return
          await ultra.value.cmdWipeFds().catch(logError)
        }

        return {
          btnAdapterTips,
          btnBleDeleteAllBonds,
          btnEnterBootloader,
          btnLoadDevice,
          btnResetSettings,
          btnSaveDevice,
          btnWipeFds,
          ls,
          ss,
          ultra,
        }
      },
    }).mount('#app')
