extends /include/bootstrap5

block beforehtml
  -
    title = 'Device Firmware Update'
    description = 'A tool to update ChameleonUltra firmware.'
    ogImage = 'https://i.imgur.com/yYsKXgx.png'
    ogImageWidth = 1200
    ogImageHeight = 600
    ogUrl = `${baseurl}dfu.html`

block style
  style
    :sass
      [v-cloak]
        display: none

block content
  #app
    .container.font-monospace.p-3.pb-5(v-cloak)
      header.text-center.mb-3
        h4.d-flex.justify-content-center.align-items-center.icon-link
          span.svgmask.svgmask-chameleon-ultra
          = title
      include /include/bootstrap5-adapter-content
      .card.shadow.mb-2
        h6.card-header.icon-link
          span.svgmask.fs-1dot2em(style="--svgmask-url: url(https://api.iconify.design/mdi:github.svg)")
          | From GitHub
        .card-body.overflow-hidden
          .mb-3
            label.form-label(for="ss-tagName") Tag (gitVersion):
            select.form-select.form-select-sm#ss-tagName(v-model="ss.tagName")
              option(v-for="[k, v] of tagNames", :value="k") {{ v }}
          button.btn.w-100.btn-outline-primary.icon-link.justify-content-center.ls-n1px(type="button", @click="btnUpdateRelease")
            span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:puzzle-outline.svg)")
            | Update release
      .card.shadow.mb-2
        h6.card-header.icon-link
          span.svgmask.fs-1dot2em(style="--svgmask-url: url(https://api.iconify.design/mdi:folder-zip-outline.svg)")
          | From Zip File
        .card-body.overflow-hidden
          .mb-3
            label.form-label(for="zipSelected") Choose firmware:
            input.form-control.form-control-sm#zipSelected(type="file", @change="onZipSelected($event?.target?.files[0])", @cancel="onZipSelected()", accept=".zip,application/zip,application/x-zip-compressed")
            .form-text(v-if="imageGitVersion") Firmware gitVersion: {{ imageGitVersion }}
          button.btn.w-100.btn-outline-primary.icon-link.justify-content-center.ls-n1px(type="button", @click="btnUpdateSelected")
            span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:puzzle-outline.svg)")
            | Update selected

block script
  script(type="module").
    import { Buffer, ChameleonUltra } from 'chameleon-ultra.js'
    import Debug from 'chameleon-ultra.js/plugin/Debug'
    import DfuZip from 'chameleon-ultra.js/plugin/DfuZip'
    import WebbleAdapter from 'chameleon-ultra.js/plugin/WebbleAdapter'
    import WebserialAdapter from 'chameleon-ultra.js/plugin/WebserialAdapter'
    import _ from 'lodash'
    import { computed, createApp, onMounted, reactive, ref, watch } from 'vue'
    import { btnAdapterTips, getJson, loadPageStorage, savePageStorage, showLoading, swalConfirm, swalFire } from '@app/js/bootstrap5-utils.mjs'
    import Swal from 'sweetalert2'

    const ultraUsb = new ChameleonUltra()
    ultraUsb.use(new Debug())
    ultraUsb.use(new WebserialAdapter())
    const ultraBle = new ChameleonUltra()
    ultraBle.use(new Debug())
    ultraBle.use(new WebbleAdapter())

    window.vm = createApp({
      setup () {
        const ls = reactive({ adapter: 'ble' })
        const ss = reactive({ tagName: '' })
        const image = ref(null)
        const imageGitVersion = ref(null)
        const manifest = ref({})

        loadPageStorage(localStorage, ls)
        loadPageStorage(sessionStorage, ss)
        watch(ls, () => { savePageStorage(localStorage, ls) }, { deep: true })
        watch(ss, () => { savePageStorage(sessionStorage, ss) }, { deep: true })

        const ultra = computed(() => ls.adapter === 'usb' ? ultraUsb : ultraBle)

        const tagNames = computed(() => _.map(_.orderBy(manifest.value?.releases, ['createdAt'], ['desc']), release => {
          if (_.isNil(release.gitVersion)) return [release.tagName, release.tagName]
          return [release.tagName, `${release.tagName} (${release.gitVersion})`]
        }))

        const releases = computed(() => {
          const isAsset = model => asset => asset.name.indexOf(model) >= 0 && asset.name.indexOf('app') >= 0
          const isUltraAsset = isAsset('ultra')
          const isLiteAsset = isAsset('lite')
          return _.fromPairs(_.map(manifest.value?.releases, release => [release.tagName, {
            ..._.pick(release, ['commit', 'gitVersion', 'prerelease', 'tagName']),
            createdAt: new Date(release.createdAt),
            lite: _.find(release.assets, isLiteAsset),
            ultra: _.find(release.assets, isUltraAsset),
          }]))
        })

        const logError = err => { ultra.value.emitter.emit('error', err) }

        function alert (opts) {
          return new Promise(resolve => { Swal.fire({ ...opts, didDestroy: resolve }) })
        }

        async function fetchManifest () {
          showLoading({ text: 'Loading firmwares...' })
          manifest.value = await getJson('https://taichunmin.idv.tw/ChameleonUltra-releases/manifest.json', 6e5)
          ss.tagName = _.first(tagNames.value)[0]
          Swal.close()
        }

        async function btnUpdateRelease () {
          const numFormater = new Intl.NumberFormat('en', { minimumFractionDigits: 1, maximumFractionDigits: 1 })
          const showProgress = ({ func, offset, size, type }) => {
            if (func !== 'dfuUpdateObject' || type !== 2) return
            const width = _.round(size > 0 ? offset / size * 100 : 0, 1)
            const html = `<div class="d-flex flex-column"><div class="progress mb-2"><div class="progress-bar progress-bar-striped" role="progressbar" style="width: ${width}%"></div></div><div class="d-flex justify-content-between"><span>Uploading:</span><span>${numFormater.format(width)} %</span></div></div>`
            showLoading({ html })
          }
          try {
            showLoading({ text: 'Download firmware...' })
            const release = releases.value[ss.tagName]
            if (_.isNil(release)) throw new Error('Invalid tagName')
            const images = _.compact(await Promise.all(_.map(['ultra', 'lite'], async model => {
              const dfuZipUrl = `${release[model].url}?t=${release.createdAt.getTime()}` // 避免快取，加上時間戳
              ultra.value.emitter.emit('debug', 'web', `model = ${model}, url = ${dfuZipUrl}`)
              const dfuZip = new DfuZip(new Buffer(await (await fetch(dfuZipUrl)).arrayBuffer()))
              return await dfuZip.getAppImage()
            })))
            showLoading({ text: 'Connect device...' })
            if (!ultra.value.isConnected()) await ultra.value.connect()
            if (!ultra.value.isDfu()) {
              try {
                const gitVersion = await ultra.value.cmdGetGitVersion()
                if (!_.isNil(release.gitVersion) && release.gitVersion === gitVersion) {
                  const msg1 = `gitVersion(${gitVersion}) is the same, do you want to upload again?`
                  if (!await swalConfirm(msg1, 'Yes', 'Cancel')) return
                }
              } catch (err) {
                // 有可能是因為不支援 cmdGetGitVersion
                ultra.value.emitter.emit('error', _.set(new Error(err.message), 'cause', err))
              }
              showLoading({ text: 'Enter DFU mode...' })
              await ultra.value.cmdDfuEnter()
              await alert({ icon: 'info', text: 'Please reconnect device again.' })
              showLoading({ text: 'Connect device...' })
              if (!ultra.value.isConnected()) await ultra.value.connect()
              if (!ultra.value.isDfu()) throw new Error('Device is not in DFU mode')
            }
            showLoading({ text: 'Uploading Firmware...' })
            ultra.value.emitter.on('progress', showProgress)
            let isUploadSuccess = false
            for (const img of images) {
              try {
                await ultra.value.dfuUpdateImage(img)
                isUploadSuccess = true
                break
              } catch (err) {
                ultra.value.emitter.emit('error', _.set(new Error(err.message), 'cause', err))
              }
            }
            if (!isUploadSuccess) throw new Error('Upload failed')
            await swalFire({ icon: 'success', title: 'Upload Success' })
          } catch (err) {
            logError(err)
            await swalFire({ icon: 'error', title: 'Upload Failed', text: err.message })
          }
          ultra.value.emitter.removeListener('progress', showProgress)
        }

        async function btnUpdateSelected () {
          const numFormater = new Intl.NumberFormat('en', { minimumFractionDigits: 1, maximumFractionDigits: 1 })
          const showProgress = ({ func, offset, size, type }) => {
            if (func !== 'dfuUpdateObject' || type !== 2) return
            const width = _.round(size > 0 ? offset / size * 100 : 0, 1)
            const html = `<div class="d-flex flex-column"><div class="progress mb-2"><div class="progress-bar progress-bar-striped" role="progressbar" style="width: ${width}%"></div></div><div class="d-flex justify-content-between"><span>Uploading:</span><span>${numFormater.format(width)} %</span></div></div>`
            showLoading({ html })
          }
          try {
            if (_.isNil(image.value)) throw new Error('Please browse a firmware file.')
            showLoading({ text: 'Connect device...' })
            if (!ultra.value.isConnected()) await ultra.value.connect()
            if (!ultra.value.isDfu()) {
              try {
                const gitVersion = await ultra.value.cmdGetGitVersion()
                if (!_.isNil(imageGitVersion.value) && imageGitVersion.value === gitVersion) {
                  const msg1 = `gitVersion(${gitVersion}) is the same, do you want to upload again?`
                  if (!await swalConfirm(msg1, 'Yes', 'Cancel')) return
                }
              } catch (err) {
                // 有可能是因為不支援 cmdGetGitVersion
                ultra.value.emitter.emit('error', _.set(new Error(err.message), 'cause', err))
              }
              showLoading({ text: 'Enter DFU mode...' })
              await ultra.value.cmdDfuEnter()
              await alert({ icon: 'info', text: 'Please reconnect device again.' })
              showLoading({ text: 'Connect device...' })
              if (!ultra.value.isConnected()) await ultra.value.connect()
              if (!ultra.value.isDfu()) throw new Error('Device is not in DFU mode')
            }
            showLoading({ text: 'Uploading Firmware...' })
            ultra.value.emitter.on('progress', showProgress)
            await ultra.value.dfuUpdateImage(image.value)
            await swalFire({ icon: 'success', title: 'Upload Success' })
          } catch (err) {
            logError(err)
            await swalFire({ icon: 'error', title: 'Upload Failed', text: err.message })
          }
          ultra.value.emitter.removeListener('progress', showProgress)
        }

        async function onZipSelected (zip) {
          try {
            image.value = null
            imageGitVersion.value = null
            if (_.isNil(zip)) throw new Error('no zip file selected')
            const dfuZip = new DfuZip(new Buffer(await zip.arrayBuffer()))
            image.value = await dfuZip.getAppImage()
            imageGitVersion.value = await dfuZip.getGitVersion()
          } catch (err) {
            logError(err)
          }
        }

        onMounted(async () => {
          try {
            await fetchManifest()
          } catch (err) {
            logError(err)
            await swalFire({ icon: 'error', title: 'Load firmwares failed', text: err.message })
          }
        })

        return {
          ls,
          ss,
          ultra,
          tagNames,
          image,
          imageGitVersion,
          btnAdapterTips,
          btnUpdateRelease,
          btnUpdateSelected,
          onZipSelected,
          showLoading,
          swalFire,
        }
      },
    }).mount('#app')
