extends /include/bootstrap5

block beforehtml
  -
    title = 'ISO/IEC 14443-A Scanner'
    description = 'A tool to scan uid of ISO/IEC 14443-A tags.'
    ogImage = 'https://i.imgur.com/8QfzaaZ.png'
    ogImageWidth = 1200
    ogImageHeight = 600
    ogUrl = `${baseurl}hf14a-scanner.html`

block style
  style
    :sass
      [v-cloak]
        display: none

block content
  #app
    nav-bar(baseurl=baseurl)
    .container.font-monospace.p-3.pb-5(v-cloak)
      header.text-center.mb-3
        h4.d-flex.justify-content-center.align-items-center.icon-link
          span.svgmask.svgmask-chameleon-ultra
          .ls-n2px #{title}
      include /include/bootstrap5-adapter-content
      .row.g-2.ls-n1px.mb-3
        .col
          button.btn.w-100.btn-outline-danger.icon-link.justify-content-center.ls-n1px(type="button", @click="btnClear")
            span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:restore.svg)")
            | Reset
        .col
          button.btn.w-100.btn-outline-success.icon-link.justify-content-center.ls-n1px(v-if="!scanning", type="button", @click="btnScanStart")
            span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:play.svg)")
            | Start Scan
          button.btn.w-100.btn-outline-warning.icon-link.justify-content-center.ls-n1px(v-else, type="button", @click="btnScanStop")
            span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:stop.svg)")
            | Stop Scan
      .table-responsive.fw-light.ls-n1px.text-nowrap(style="font-size: .85rem")
        table.table.table-striped.table-bordered.table-sm.text-center
          caption.text-end: small Click cell to copy value.
          thead: tr
            th Time
            th UID
            th ATQA
            th SAK
            th ATS
          tbody
            tr(
              v-for="tag in ss.tags",
              :key="`${tag.uid}-${tag.atqa}-${tag.sak}`",
              :class="tag.ts + 1000 > tsnow ? 'animate__animated animate__flash' : ''",
            )
              td {{ dayjs(tag.ts).format('MM/DD HH:mm:ss') }}
              td.text-start(@click="btnCopy(tag.uid)") {{ tag.uid }}
              td(@click="btnCopy(tag.atqa)") {{ tag.atqa }}
              td(@click="btnCopy(tag.sak)") {{ tag.sak }}
              td.text-start(@click="btnCopy(tag.ats)") {{ tag.ats }}
  include /include/bootstrap5-navbar-content

block script
  script(type="module").
    import { ChameleonUltra } from 'chameleon-ultra.js'
    import Debug from 'chameleon-ultra.js/plugin/Debug'
    import WebbleAdapter from 'chameleon-ultra.js/plugin/WebbleAdapter'
    import WebserialAdapter from 'chameleon-ultra.js/plugin/WebserialAdapter'
    import dayjs from 'dayjs'
    import _ from 'lodash'
    import { computed, createApp, reactive, ref, watch } from 'vue'
    import { btnAdapterTips, loadPageStorage, savePageStorage, showLoading, sleep, swalFire } from '@app/js/bootstrap5-utils.mjs'
    import NavBar from '@app/js/bootstrap5-navbar.mjs'
    import Swal from 'sweetalert2'

    const ultraUsb = new ChameleonUltra()
    ultraUsb.use(new Debug())
    ultraUsb.use(new WebserialAdapter())
    const ultraBle = new ChameleonUltra()
    ultraBle.use(new Debug())
    ultraBle.use(new WebbleAdapter())
    const toHex = buf => _.toUpper(buf.toString('hex'))

    window.vm = createApp({
      components: { NavBar },
      setup () {
        const ls = reactive({ adapter: 'ble' })
        const ss = reactive({ tags: [] })
        const scanning = ref(false)
        const tsnow = ref(Date.now())

        loadPageStorage(localStorage, ls)
        loadPageStorage(sessionStorage, ss)
        watch(ls, () => { savePageStorage(localStorage, ls) }, { deep: true })
        watch(ss, () => { savePageStorage(sessionStorage, ss) }, { deep: true })

        const ultra = computed(() => ls.adapter === 'usb' ? ultraUsb : ultraBle)

        const logError = err => { ultra.value.emitter.emit('error', err) }

        async function btnScanStart () {
          try {
            showLoading({ text: 'Connecting...' })
            const version = await ultra.value.cmdGetGitVersion()
            ultra.value.emitter.emit('debug', `Git version: ${version}`)
            scanning.value = true
            Swal.close() // scanning started
            while (scanning.value) {
              try {
                const scanned = await ultra.value.cmdHf14aScan()
                const newTags = []
                for (const tag of scanned) {
                  newTags.push({
                    atqa: toHex(tag.atqa.toReversed()),
                    ats: toHex(tag.ats),
                    sak: toHex(tag.sak),
                    ts: Date.now(),
                    uid: toHex(tag.uid),
                  })
                }
                ss.tags = _.uniqBy([...newTags, ...ss.tags], c => `${c.uid}-${c.atqa}-${c.sak}-${c.ats}`)
              } catch (err) {
                if (!ultra.value.isConnected()) throw err
              }
              tsnow.value = Date.now()
              await sleep(50)
            }
            Swal.close() // scanning stopped
          } catch (err) {
            logError(err)
            await swalFire({ icon: 'error', title: 'Scan failed', text: err.message })
          }
        }

        async function btnScanStop () {
          showLoading({ text: 'Stopping...' })
          scanning.value = false
        }

        function btnClear () {
          ss.tags = []
        }

        async function btnCopy (text) {
          try {
            text = `${text}`
            const clipboard = navigator.clipboard
            if (!clipboard) throw new Error('Clipboard API is not supported.')
            await clipboard.writeText(text)
            await swalFire({ icon: 'success', title: `${text.length} bytes copied.` })
          } catch (err) {
            await swalFire({ icon: 'error', title: 'Copy failed', text: err.message })
          }
        }

        return {
          ls,
          ss,
          ultra,
          scanning,
          tsnow,
          dayjs,
          btnAdapterTips,
          btnScanStart,
          btnScanStop,
          btnClear,
          btnCopy,
          showLoading,
          swalFire,
        }
      },
    }).mount('#app')
