extends /include/bootstrap5

block beforehtml
  -
    title = 'LF EM410x Tag'
    description = 'A tool to emulate EM410x tag, scan from EM410x tag and write to T55xx tag.'
    ogImage = 'https://i.imgur.com/EjLG2Zo.png'
    ogImageWidth = 1200
    ogImageHeight = 600
    ogUrl = `${baseurl}lf-em410x.html`

block style
  style
    :sass
      [v-cloak]
        display: none
      .input-group-text
        width: 80px

block content
  #app
    nav-bar(baseurl=baseurl)
    .container.font-monospace.p-3.pb-5(v-cloak)
      header.text-center.mb-3
        h4.d-flex.justify-content-center.align-items-center.icon-link
          span.svgmask.svgmask-chameleon-ultra
          = title
      include /include/bootstrap5-adapter-content
      .card.shadow.mb-2
        h6.card-header.icon-link
          span.svgmask.svgmask-chameleon-ultra
          | Slot LF Emulator
        .card-body.overflow-hidden
          .input-group.input-group-sm.mb-2
            label.input-group-text.justify-content-center(for="ss-slot") slot
            select.form-select.form-select-sm#ss-slot(v-model.number="ss.slot")
              option(v-for="i of 8", :key="i", :value="i - 1") Slot {{ i }}
          .input-group.input-group-sm.mb-2
            label.input-group-text.justify-content-center(for="ss-name") name
            input.form-control.form-control-sm#ss-name(placeholder="name of slot LF", v-model="ss.name")
            button.btn.btn-outline-secondary.icon-link(type="button", @click="ss.name = ''")
              span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:close.svg)")
          .input-group.input-group-sm.mb-2.was-validated
            label.input-group-text.justify-content-center(for="ss-uid-1") ID
            input.form-control.form-control-sm#ss-uid-1(pattern="[\\dA-Fa-f]{10}", maxlength="10", placeholder="Hex format of ID", required, v-model="ss.uid")
            button.btn.btn-outline-secondary.icon-link(type="button", @click="ss.uid = ''")
              span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:close.svg)")
          .row.g-2.mb-2
            .col
              button.btn.w-100.btn-outline-success.icon-link.justify-content-center.ls-n1px(type="button", @click="btnEmuRead")
                span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:logout.svg)")
                | Load
            .col
              button.btn.w-100.btn-outline-primary.icon-link.justify-content-center.ls-n1px(type="button", @click="btnEmuWrite")
                span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:login.svg)")
                | Emulate
          button.btn.btn-sm.w-100.btn-outline-danger.icon-link.justify-content-center.ls-n1px(type="button", @click="btnEmuReset")
            span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:restore.svg)")
            | Reset slot LF to default
      .card.shadow.mb-2
        h6.card-header.icon-link
          span.svgmask.fs-1dot2em(style="--svgmask-url: url(https://api.iconify.design/mdi:tag-outline.svg)")
          | EM410x/T55xx Tag
        .card-body.overflow-hidden: .row.g-2
          h6.card-title.ls-n1px.mb-0 T55xx password candidates
          .input-group.input-group-sm
            label.input-group-text.justify-content-center(for="ss-keys") keys
            textarea.form-control#ss-keys(rows="4", v-model="ss.keys", :class="isValidKeys(ss.keys) ? 'is-valid' : 'is-invalid'")
          .input-group.input-group-sm.was-validated
            label.input-group-text.justify-content-center(for="ss-uid-2") ID
            input.form-control.form-control-sm#ss-uid-2(pattern="[\\dA-Fa-f]{10}", maxlength="10", placeholder="Hex format of ID", required, v-model="ss.uid")
            button.btn.btn-outline-secondary.icon-link(type="button", @click="ss.uid = ''")
              span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:close.svg)")
          .col-6: button.btn.w-100.btn-outline-success.icon-link.justify-content-center.ls-n1px(type="button", @click="btnScanTag")
            span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:tag-arrow-down-outline.svg)")
            | Scan ID
          .col-6: button.btn.w-100.btn-outline-primary.icon-link.justify-content-center.ls-n1px(type="button", @click="btnT55xxWrite")
            span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:tag-arrow-up-outline.svg)")
            | Write
          .col-12: button.btn.w-100.btn-outline-secondary.icon-link.justify-content-center.ls-n1px(type="button", @click="btnKeysReset")
            span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:fire.svg)")
            | Reset to well-known keys
          p.fs-14px.text-body-secondary.mb-0 Please place the LF tag on the back of ChameleonUltra.
  include /include/bootstrap5-navbar-content

block script
  script(type="module").
    import { Buffer, ChameleonUltra, DeviceMode, FreqType, TagType } from 'chameleon-ultra.js'
    import Debug from 'chameleon-ultra.js/plugin/Debug'
    import WebbleAdapter from 'chameleon-ultra.js/plugin/WebbleAdapter'
    import WebserialAdapter from 'chameleon-ultra.js/plugin/WebserialAdapter'
    import _ from 'lodash'
    import { computed, createApp, reactive, watch } from 'vue'
    import { btnAdapterTips, loadPageStorage, savePageStorage, showLoading, swalConfirm, swalFire } from '@app/js/bootstrap5-utils.mjs'
    import NavBar from '@app/js/bootstrap5-navbar.mjs'
    import Swal from 'sweetalert2'

    const ultraUsb = new ChameleonUltra()
    ultraUsb.use(new Debug())
    ultraUsb.use(new WebserialAdapter())
    const ultraBle = new ChameleonUltra()
    ultraBle.use(new Debug())
    ultraBle.use(new WebbleAdapter())

    const toHex = buf => _.toUpper(buf.toString('hex'))
    const WELL_KNOWN_KEYS = ['1DD00A11', '19920427', '51243648']

    window.vm = createApp({
      components: { NavBar },
      setup () {
        const ls = reactive({ adapter: 'ble' })
        const ss = reactive({
          keys: WELL_KNOWN_KEYS.join('\n'),
          name: '',
          slot: 0,
          uid: 'DEADBEEF88',
        })

        loadPageStorage(localStorage, ls)
        loadPageStorage(sessionStorage, ss)
        watch(ls, () => { savePageStorage(localStorage, ls) }, { deep: true })
        watch(ss, () => { savePageStorage(sessionStorage, ss) }, { deep: true })

        const ultra = computed(() => ls.adapter === 'usb' ? ultraUsb : ultraBle)

        const logError = err => { ultra.value.emitter.emit('error', err) }

        function isValidKeys (str) {
          return /^([\dA-Fa-f]{8}\s*)+$/.test(str)
        }

        function t55xxGetKeys () {
          const keys = _.chain(Buffer.from(ss.keys, 'hex').chunk(4))
            .filter(key => Buffer.isBuffer(key) && key.length === 4)
            .uniqWith(Buffer.equals)
            .value()
          if (keys.length === 0) throw new Error('No keys found')
          return keys
        }

        async function btnEmuRead () {
          const { slot } = ss
          try {
            showLoading({ text: 'Loading emulator' })
            await ultra.value.cmdSlotSetActive(slot)
            ss.name = await ultra.value.cmdSlotGetFreqName(slot, FreqType.LF)
            ss.uid = toHex(await ultra.value.cmdEm410xGetEmuId())
            await swalFire({ icon: 'success', title: 'Load success' })
          } catch (err) {
            logError(err)
            await swalFire({ icon: 'error', title: 'Load failed', text: err.message })
          }
        }

        async function btnEmuWrite () {
          const { name, slot } = ss
          try {
            showLoading({ text: 'Emulating tag...' })
            const uid = Buffer.from(ss.uid, 'hex')
            if (uid.length !== 5) throw new Error('Invalid ID')
            const slotName = await ultra.value.cmdSlotGetFreqName(slot, FreqType.LF) ?? '(no name)'
            const msg1 = `Slot ${slot + 1} "${slotName}" will be REPLACE! Continue?`
            if (!await swalConfirm(msg1, 'Yes', 'Cancel')) return
            showLoading({ text: 'Emulating tag...' })
            await ultra.value.cmdChangeDeviceMode(DeviceMode.TAG)
            await ultra.value.slotChangeTagTypeAndActive(slot, null, TagType.EM410X) // reset slot
            if (_.isString(name) && name.length > 0) await ultra.value.cmdSlotSetFreqName(slot, FreqType.LF, name)
            await ultra.value.cmdEm410xSetEmuId(uid)
            await ultra.value.cmdSlotSaveSettings()
            await swalFire({ icon: 'success', title: 'Emulate success' })
          } catch (err) {
            logError(err)
            await swalFire({ icon: 'error', title: 'Emulate failed', text: err.message })
          }
        }

        async function btnEmuReset () {
          const { slot } = ss
          try {
            showLoading({ text: 'Resetting...' })
            const slotName = await ultra.value.cmdSlotGetFreqName(slot, FreqType.LF) ?? '(no name)'
            const msg1 = `Slot ${slot + 1} "${slotName}" will be RESET! Continue?`
            if (!await swalConfirm(msg1, 'Yes', 'Cancel')) return
            showLoading({ text: 'Resetting...' })
            await ultra.value.cmdChangeDeviceMode(DeviceMode.TAG)
            await ultra.value.slotChangeTagTypeAndActive(slot, null, TagType.EM410X) // reset slot
            await swalFire({ icon: 'success', title: 'Reset success' })
          } catch (err) {
            logError(err)
            await swalFire({ icon: 'error', title: 'Reset failed', text: err.message })
          }
        }

        async function btnScanTag () {
          try {
            showLoading({ text: 'Scanning tag...' })
            ss.uid = toHex((await ultra.value.cmdEm410xScan())?.id)
            Swal.close()
          } catch (err) {
            logError(err)
            await swalFire({ icon: 'error', title: 'Scan failed', text: err.message })
          }
        }

        async function btnT55xxWrite () {
          try {
            const msg1 = 'T55xx Tag will be REPLACE! Continue?'
            if (!await swalConfirm(msg1, 'Yes', 'Cancel')) return
            showLoading({ text: 'Writing tag...' })
            const uid = Buffer.from(ss.uid, 'hex')
            const newKey = Buffer.from('20206666', 'hex')
            const oldKeys = t55xxGetKeys()
            await ultra.value.cmdEm410xWriteToT55xx(uid, newKey, oldKeys)
            const uid2 = (await ultra.value.cmdEm410xScan())?.id
            if (!uid.equals(uid2)) throw new Error(`ID mismatch after write, scanned = ${toHex(uid2)}`)
            await swalFire({ icon: 'success', title: 'Write success' })
          } catch (err) {
            logError(err)
            await swalFire({ icon: 'error', title: 'Write failed', text: err.message })
          }
        }

        async function btnKeysReset () {
          const msg1 = 'Tool\'s keys will be REPLACE! Continue?'
          if (!await swalConfirm(msg1, 'Yes', 'Cancel')) return
          ss.keys = WELL_KNOWN_KEYS.join('\n')
        }

        return {
          ls,
          ss,
          ultra,
          btnAdapterTips,
          btnEmuRead,
          btnEmuWrite,
          btnEmuReset,
          btnScanTag,
          btnT55xxWrite,
          btnKeysReset,
          isValidKeys,
          showLoading,
          swalFire,
        }
      },
    }).mount('#app')
