extends /include/bootstrap5

block beforehtml
  -
    title = 'MFKey32'
    description = 'A ChameleonUltra tool to detect the mifare key that reader is authenticating (a.k.a. MFKey32).'
    ogImage = 'https://i.imgur.com/TQC83i4.png'
    ogImageWidth = 1200
    ogImageHeight = 600
    ogUrl = `${baseurl}mfkey32.html`

block style
  style
    :sass
      [v-cloak]
        display: none
      .input-group-text
        width: 85px

block content
  #app
    nav-bar(baseurl=baseurl)
    .container.font-monospace.p-3.pb-5(v-cloak)
      header.text-center.mb-3
        h4.d-flex.justify-content-center.align-items-center.icon-link
          span.svgmask.svgmask-chameleon-ultra
          = title
      include /include/bootstrap5-adapter-content
      .card.shadow.mb-3
        h6.card-header.icon-link
          span.svgmask.fs-1dot2em(style="--svgmask-url: url(https://api.iconify.design/mdi:card-account-details-outline.svg)")
          | Mifare Dump
        .card-body.overflow-hidden
          input.d-none(type="file", ref="dumpImportInput", @change="dumpImport?.cb?.($event.target.files[0])", @cancel="dumpImport?.cb?.()")
          .input-group.input-group-sm.mb-2
            label.input-group-text.justify-content-center(for="ss-tagType") TagType
            select.form-select.form-select-sm#ss-tagType(v-model.number="ss.tagType")
              option(value="0") Mifare 1k
              option(value="1") Mifare 4k
          .input-group.input-group-sm.mb-2.was-validated
            label.input-group-text.justify-content-center(for="ss-uid") UID
            input.form-control.form-control-sm#ss-uid(pattern="[\\dA-Fa-f]{8}([\\dA-Fa-f]{6})?([\\dA-Fa-f]{6})?", maxlength="20", placeholder="Hex format of UID", required, v-model="ss.uid")
            button.btn.btn-outline-secondary.icon-link(type="button", @click="ss.uid = ''")
              span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:close.svg)")
          .input-group.input-group-sm.mb-2.was-validated
            label.input-group-text.justify-content-center(for="ss-atqa") ATQA
            input.form-control.form-control-sm#ss-atqa(pattern="[\\dA-Fa-f]{4}", maxlength="4", placeholder="Hex format of ATQA", required, v-model="ss.atqa")
            button.btn.btn-outline-secondary.icon-link(type="button", @click="ss.atqa = ''")
              span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:close.svg)")
          .input-group.input-group-sm.mb-2.was-validated
            label.input-group-text.justify-content-center(for="ss-sak") SAK
            input.form-control.form-control-sm#ss-sak(pattern="[\\dA-Fa-f]{2}", maxlength="2", placeholder="Hex format of SAK", required, v-model="ss.sak")
            button.btn.btn-outline-secondary.icon-link(type="button", @click="ss.sak = ''")
              span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:close.svg)")
          .input-group.input-group-sm.mb-2.was-validated
            label.input-group-text.justify-content-center(for="ss-ats") ATS
            input.form-control.form-control-sm#ss-ats(pattern="([\\dA-Fa-f]{2})*", placeholder="Hex format of ATS", v-model="ss.ats")
            button.btn.btn-outline-secondary.icon-link(type="button", @click="ss.ats = ''")
              span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:close.svg)")
          .row.g-2.mb-2
            .col
              button.btn.btn-sm.w-100.btn-outline-primary.icon-link.justify-content-center.ls-n1px(type="button", @click="btnEditKeys")
                span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:key-outline.svg)")
                | Edit Keys
            .col
              button.btn.btn-sm.w-100.btn-outline-primary.icon-link.justify-content-center.ls-n1px(type="button", @click="btnReadTag")
                span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:tag-arrow-down-outline.svg)")
                | Read Tag
          .row.g-2.mb-2
            .col
              button.btn.btn-sm.w-100.btn-outline-primary.icon-link.justify-content-center.ls-n1px(type="button", @click="btnNewDump")
                span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:restore.svg)")
                | New dump
            .col
              button.btn.btn-sm.w-100.btn-outline-primary.icon-link.justify-content-center.ls-n1px(type="button", @click="btnEditDump")
                span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:file-edit-outline.svg)")
                | Edit dump
          .row.g-2.mb-2
            .col
              button.btn.btn-sm.w-100.btn-outline-primary.icon-link.justify-content-center.ls-n1px(type="button", @click="btnImportDump")
                span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:file-import-outline.svg)")
                | Import file
            .col
              button.btn.btn-sm.w-100.btn-outline-primary.icon-link.justify-content-center.ls-n1px(type="button", @click="btnExportDump")
                span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:file-export-outline.svg)")
                | Export file
          details.fs-14px
            summary.text-muted Click to open manual
            p.my-2 ChameleonUltra is a powerful tool for recovering the keys the reader uses to authenticate the tag. Before starting the recovery process, you must prepare the anti-collision and dump data.
            h6.text-info.my-3 # Button functionality
            ul.ps-3.mb-0
              li.mb-2 Edit keys: Edit the known keys, which will be used to read the tag, in hex format one key per line. If no keys are provided, the well-known keys will be used.
              li.mb-2 Read Tag: Read the anti-collision data and blocks of tag via ChameleonUltra. Unreadable blocks will be filled with pre-defined data.
              li.mb-2 New dump: Generate a new dump corresponding to current anti-collision data.
              li.mb-2 Edit dump: Edit the dump data in hex format, one block per line. If anti-collision data exists within the block 0, it will be overwritten.
              li.mb-2 Import file: Import dump from file and extract the associated keys. If anti-collision data exists within the file or block 0, it will be overwritten. Supported file ext.: bin, json, eml, mct.
              li.mb-2 Export file: Export dump to a file. Supported file ext.: bin, json, eml, mct.
            h6.text-info.my-3 # Anti-collision data and its necessity
            p.my-2 Anti-collision data comprises UID, ATQA, SAK, and ATS. Some reader will use different keys based on specific anit-collision data. Therefore, it may not be possible to recover the matched keys without the correct anti-collision data.
            h6.text-info.my-3 # Read data from tag
            p.my-2 If you have a tag, the preferred method is to use the keys to read the tag via ChameleonUltra. If you already have some keys of the tag, you can update them by clicking "Edit keys". Otherwise, you can leave the keys input empty to begin with the well-known keys. Subsequently, you can click "Read Tag".
            h6.text-info.my-3 # Generate new blank dump
            p.my-2 If you don't have a tag, you can modify the anti-collision data and click "New dump" to create a new blank dump. Since the actual dump data is unknown, only a subset of the keys that the reader uses to authenticate the tag can be recovered.
            h6.text-info.my-3 # Export dump before closing
            p.my-2 To preserve your data, click "Export file" to save the data to a file. You may restore dump data later by clicking "Import file". #[span.text-danger Please ensure that you export the dump before closing the page to avoid data loss!]
      .card.shadow.mb-3
        h6.card-header.icon-link
          span.svgmask.fs-1dot2em(style="--svgmask-url: url(https://api.iconify.design/mdi:lock-outline.svg)")
          | Emulate / Recover key
        .card-body.overflow-hidden
          .input-group.input-group-sm.mb-2
            label.input-group-text.justify-content-center(for="ss-slot") Slot
            select.form-select.form-select-sm#ss-slot(v-model.number="ss.slot")
              option(v-for="i of 8", :key="i", :value="i - 1") Slot {{ i }}
          .row.g-2.mb-2
            .col
              button.btn.btn-sm.w-100.btn-outline-primary.icon-link.justify-content-center.ls-n1px(type="button", @click="btnWriteEmu")
                span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:login.svg)")
                | Emulate
            .col
              button.btn.btn-sm.w-100.btn-outline-primary.icon-link.justify-content-center.ls-n1px(type="button", @click="btnRecoverKeys")
                span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:lock-open-variant-outline.svg)")
                | Recover
          details.fs-14px
            summary.text-muted Click to open manual
            p.my-2 To recover the keys, emulate the dump through ChameleonUltra, let the genuine reader to read ChameleonUltra at least twice to gather failed authentication logs, and subsequently read the logs to recover the keys.
            h6.text-info.my-3 # Button functionality
            ul.ps-3.mb-0
              li.mb-2 Emulate: Write the dump data to a selected ChameleonUltra slot and start emulation with detection mode enabled. Note that this action will overwrite any existing data in the selected slot.
              li.mb-2 Recover: Read logs from ChameleonUltra to recover the keys. This process may take a long time. Successfully recovered keys will be automatically appended to the known keys list.
            h6.text-info.my-3 # Repeat to recover more keys
            p.my-2 The more similarity between the dump data and the tag, the more keys can be recovered. You can repeat the workflow (read tag, emulate, recover) and try to recover more keys of previously unreadable blocks.
            h6.text-info.my-3 # Learn more about MFKey32
            p.my-2 If you want to learn more about MFKey32, please refer to the Flipper documentation "#[a(target="_blank" href="https://docs.flipper.net/nfc/mfkey32") Recovering MIFARE Classic keys]" and MTools Tec documentation "#[a(target="_blank" href="https://shop.mtoolstec.com/how-to-use-mfkey32-on-chameleonultra-devices.html") How to use mfkey32 on ChameleonUltra devices]".
            img.my-2.d-block.mx-auto.w-100.rounded.shadow(src="https://i.imgur.com/FRl2vl9.png" style="max-width: 32rem")
    .modal.fade(data-bs-backdrop="static", data-bs-keyboard="false", tabindex="-1", ref="exportimportModal")
      .modal-dialog.modal-dialog-centered.modal-xl.align-items-stretch
        .modal-content
          .modal-body.d-flex.flex-column
            h5.modal-title.icon-link
              span.svgmask.fs-1dot2em(style="--svgmask-url: url(https://api.iconify.design/mdi:file-edit-outline.svg)")
              | {{ exportimport.title || 'Edit text' }}
            textarea.form-control.form-control-sm.flex-fill(v-model="exportimport.text")
            small.text-muted.form-text Click "Copy" to copy text, or click "Apply" to apply change.
          .modal-footer
            button.btn.btn-outline-secondary(type="button", @click="exportimport?.cb?.()") Cancel
            button.btn.btn-outline-danger(type="button", @click="exportimport.text = ''") Clear
            button.btn.btn-outline-success(type="button", @click="btnCopy(exportimport.text)") Copy
            button.btn.btn-outline-primary(type="button", @click="exportimport?.cb?.(exportimport.text)") Apply
    .modal.fade(tabindex="-1", ref="dumpExportModal")
      .modal-dialog.modal-dialog-centered.modal-xl
        .modal-content
          .modal-header
            h5.modal-title.icon-link
              span.svgmask.fs-1dot2em(style="--svgmask-url: url(https://api.iconify.design/mdi:file-export-outline.svg)")
              | Export Dump
            button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
          .modal-body
            a.btn.w-100.btn-outline-primary.mb-2.text-start(
              :download="dumpExport.json.download",
              :href="dumpExport.json.href",
              target="_blank")
              .my-1 {{ dumpExport.json.download }}
              h6.text-muted.mb-1 Click to download as JSON format. This format can be used in Proxmark3 and Chameleon Mini GUI.
            a.btn.w-100.btn-outline-primary.mb-2.text-start(
              :download="dumpExport.bin.download",
              :href="dumpExport.bin.href",
              target="_blank")
              .my-1 {{ dumpExport.bin.download }}
              h6.text-muted.mb-1 Click to download as BIN format. This format can be used in Proxmark3, libnfc, mfoc...
            a.btn.w-100.btn-outline-primary.mb-2.text-start(
              :download="dumpExport.eml.download",
              :href="dumpExport.eml.href",
              target="_blank")
              .my-1 {{ dumpExport.eml.download }}
              h6.text-muted.mb-1 Click to download as EML format. This format can be used in Proxmark3 emulator.
            a.btn.w-100.btn-outline-primary.text-start(
              :download="dumpExport.mct.download",
              :href="dumpExport.mct.href",
              target="_blank")
              .my-1 {{ dumpExport.mct.download }}
              h6.text-muted.mb-1 Click to download as MCT format. This format can be used in Mifare Classic Tool.
  include /include/bootstrap5-navbar-content

block script
  script(type="module").
    import { Buffer, ChameleonUltra, DeviceMode, FreqType, TagType } from 'chameleon-ultra.js'
    import Crypto1 from 'chameleon-ultra.js/Crypto1'
    import Debug from 'chameleon-ultra.js/plugin/Debug'
    import WebbleAdapter from 'chameleon-ultra.js/plugin/WebbleAdapter'
    import WebserialAdapter from 'chameleon-ultra.js/plugin/WebserialAdapter'
    import { Modal } from 'bootstrap'
    import JSON5 from 'json5'
    import _ from 'lodash'
    import { computed, createApp, nextTick, reactive, useTemplateRef, watch } from 'vue'
    import { btnAdapterTips, loadPageStorage, savePageStorage, showLoading, sleep, swalConfirm, swalFire } from '@app/js/bootstrap5-utils.mjs'
    import NavBar from '@app/js/bootstrap5-navbar.mjs'

    const ultraUsb = new ChameleonUltra()
    ultraUsb.use(new Debug())
    ultraUsb.use(new WebserialAdapter())
    const ultraBle = new ChameleonUltra()
    ultraBle.use(new Debug())
    ultraBle.use(new WebbleAdapter())

    const blockToSector = block => block < 128 ? block >>> 2 : 24 + (block >>> 4)
    const toHex = buf => _.toUpper(buf.toString('hex'))
    const WELL_KNOWN_KEYS = _.map(['FFFFFFFFFFFF', 'A0A1A2A3A4A5', 'D3F7D3F7D3F7'], hex => Buffer.from(hex, 'hex'))
    const isMf1MagicBlock0 = buf => Buffer.isBuffer(buf) && buf.length >= 16 && _.includes([0x08, 0x88], buf[5]) && toHex(buf.subarray(6, 8)) === '0400' && buf[4] === buf.subarray(0, 4).xor()

    window.vm = createApp({
      components: { NavBar },
      setup () {
        const ls = reactive({ adapter: 'ble' })
        const ss = reactive({
          atqa: '0004',
          ats: '',
          dump: null,
          keys: '',
          sak: '08',
          slot: 0,
          tagType: 0,
          uid: 'DEADBEEF',
        })
        const dumpImport = reactive({ cb: null })
        const dumpExport = reactive({
          json: { download: '', href: '' },
          bin: { download: '', href: '' },
          eml: { download: '', href: '' },
          mct: { download: '', href: '' },
        })
        const exportimport = reactive({ title: '', text: '', cb: null })

        const dumpImportInputRef = useTemplateRef('dumpImportInput')
        const exportimportModalRef = useTemplateRef('exportimportModal')
        const dumpExportModalRef = useTemplateRef('dumpExportModal')

        loadPageStorage(localStorage, ls)
        watch(ls, () => { savePageStorage(localStorage, ls) }, { deep: true })

        // ss.dump is a Buffer, JSON5 can't (de)serialize it directly, so it's stored as base64url
        try {
          const saved = JSON5.parse(sessionStorage.getItem(location.pathname))
          if (_.isObject(saved)) {
            if (!_.isNil(saved.dump)) {
              try {
                saved.dump = Buffer.from(saved.dump, 'base64url')
              } catch (err) {
                delete saved.dump
              }
            }
            _.merge(ss, saved)
          }
        } catch (err) {}
        watch(ss, () => {
          const saved = { ...ss }
          if (Buffer.isBuffer(saved.dump)) saved.dump = saved.dump.toString('base64url')
          sessionStorage.setItem(location.pathname, JSON5.stringify(saved))
        }, { deep: true })
        if (!Buffer.isBuffer(ss.dump)) ss.dump = mf1GenEmptyDump()

        const ultra = computed(() => ls.adapter === 'usb' ? ultraUsb : ultraBle)

        const logError = err => { ultra.value.emitter.emit('error', err) }

        function mf1GenEmptyDump (antiColl) {
          antiColl ??= {
            atqa: Buffer.from(ss.atqa, 'hex').toReversed(),
            sak: Buffer.from(ss.sak, 'hex'),
            tagType: ss.tagType === 1 ? TagType.MIFARE_4096 : TagType.MIFARE_1024,
            uid: Buffer.from(ss.uid, 'hex'),
          }
          const dump = ChameleonUltra.mf1GenEmptyDump(antiColl)
          // empty dump in mfkey32 should not use default key FFFFFFFFFFFF
          const keyUnknown = new Buffer(6)
          const endOfSectors = [
            ..._.times(32, i => (i + 1) * 64), // sector 0~31: 64 bytes
            ..._.times(8, i => i * 256 + 2304), // sector 32~39: 256 bytes
          ]
          for (const i of endOfSectors) {
            if (i > dump.length) break
            for (const j of [-16, -6]) dump.set(keyUnknown, i + j)
          }
          return dump
        }

        function mfGetKeys () {
          try {
            const keys = ChameleonUltra.mf1KeysFromDict(ss.keys)
            return keys.length > 0 ? keys : null
          } catch (err) {
            return null
          }
        }

        function mfMergeKeys (newKeys) {
          const keys = ChameleonUltra.mf1UniqueKeys([
            ...ChameleonUltra.mf1KeysFromDict(ss.keys),
            ...newKeys,
          ])
          ss.keys = _.map(keys, toHex).join('\n')
        }

        function mfGrabKeysFromDump () {
          // merge keys
          const { tagType, dump } = ss
          const tagSectors = tagType === 1 ? 40 : 16
          const newKeys = []
          for (let i = 0; i < tagSectors; i++) {
            const [blkStart, secblks] = i < 32 ? [i * 4, 4] : [(i - 24) * 16, 16]
            const sectorData = dump.subarray(blkStart * 16).subarray(0, secblks * 16)
            newKeys.push(..._.map([0, 10], pos => sectorData.subarray(pos - 16).subarray(0, 6)))
          }
          ss.keys = ''
          mfMergeKeys(newKeys)
        }

        function mfkey32v2 (uid, r0, r1) {
          return Crypto1.mfkey32v2({
            uid,
            nt0: r0.nt,
            nr0: r0.nr,
            ar0: r0.ar,
            nt1: r1.nt,
            nr1: r1.nr,
            ar1: r1.ar,
          })
        }

        async function editTextModal (title, text) {
          const modalEl = exportimportModalRef.value
          const modal = Modal.getOrCreateInstance(modalEl)
          const newVal = await new Promise(resolve => {
            exportimport.title = title
            exportimport.text = text
            exportimport.cb = resolve
            modalEl.addEventListener('hidden.bs.modal', () => resolve(), { once: true })
            modal.show()
          })
          modal.hide()
          exportimport.cb = null
          return newVal
        }

        async function btnEditKeys () {
          try {
            const newVal = await editTextModal('Edit keys', ss.keys)
            if (_.isNil(newVal)) return
            ss.keys = newVal
          } catch (err) {
            logError(err)
            await swalFire({ icon: 'error', title: 'Edit failed', text: err.message })
          }
        }

        async function btnReadTag () {
          try {
            const res = {}

            // read anti-collision
            showLoading({ text: 'Reading anti-collision...' })
            const tag1 = _.first(await ultra.value.cmdHf14aScan())
            _.merge(res, {
              atqa: toHex(tag1.atqa.toReversed()),
              ats: toHex(tag1.ats),
              sak: toHex(tag1.sak),
              uid: toHex(tag1.uid),
            })
            res.tagType = (res.atqa === '0002' && res.sak === '18') ? 1 : 0
            ultra.value.emitter.emit('debug', 'web', res)

            // read blocks
            const [tagSectors, tagBlocks] = res.tagType === 1 ? [40, 256] : [16, 64]
            const genSwalCfg = i => ({
              html: `<div class="d-flex flex-column"><div class="progress mb-2"><div class="progress-bar progress-bar-striped" role="progressbar" style="width: ${i / 16 * 100}%"></div></div><div class="d-flex justify-content-between"><span>Reading sectors:</span><span>${i} / ${tagSectors}</span></div></div>`,
            })
            showLoading(genSwalCfg(0))
            const failed = []
            const keys = mfGetKeys() ?? WELL_KNOWN_KEYS
            const newDump = mf1GenEmptyDump(tag1)
            const oldDump = ss.dump
            for (let i = 0; i < tagSectors; i++) {
              const [blkStart, secblks] = i < 32 ? [i * 4, 4] : [(i - 24) * 16, 16]
              try {
                const oldSectorData = oldDump.subarray(blkStart * 16).subarray(0, secblks * 16)
                const oldSectorKeys = _.map([0, 10], pos => oldSectorData.subarray(pos - 16).subarray(0, 6))
                const { data: newSectorData, success } = await ultra.value.mf1ReadSectorByKeys(i, [...oldSectorKeys, ...keys])
                newDump.set(newSectorData, blkStart * 16)
                for (let j = 0; j < secblks; j++) {
                  if (!success[j]) failed.push(blkStart + j)
                  else newDump.set(newSectorData.subarray(j * 16).subarray(0, 16), (blkStart + j) * 16)
                }
              } catch (err) {
                if (!ultra.value.isConnected()) throw err
                for (let j = 0; j < secblks; j++) failed.push(blkStart + j)
                ultra.value.emitter.emit('error', err)
              }
              showLoading(genSwalCfg(i + 1))
            }
            await ultra.value.cmdChangeDeviceMode(DeviceMode.TAG)
            res.dump = newDump
            Object.assign(ss, res)
            mfGrabKeysFromDump() // must after update ss.dump
            await swalFire({ icon: 'success', title: 'Read result', text: `${tagBlocks - failed.length}/${tagBlocks} blocks read.` })
          } catch (err) {
            logError(err)
            await swalFire({ icon: 'error', title: 'Read failed', text: err.message })
          }
        }

        async function btnNewDump () {
          try {
            const msg1 = 'Mifare dump will be REPLACED! Continue?'
            if (!await swalConfirm(msg1, 'Yes', 'Cancel')) return
            ss.dump = mf1GenEmptyDump()
          } catch (err) {
            logError(err)
            await swalFire({ icon: 'error', title: 'Reset failed', text: err.message })
          }
        }

        async function btnEditDump () {
          try {
            const oldVal = _.map(ss.dump.chunk(16), toHex).join('\n')
            const newVal = await editTextModal('Edit dump', oldVal)
            if (_.isNil(newVal)) return

            const res = {}
            res.dump = ChameleonUltra.mf1DumpFromEml(newVal)
            if (!Buffer.isBuffer(res.dump)) throw new Error('Failed to parse input')
            if (!_.includes([1024, 4096], res.dump.length)) throw new Error(`input size invalid: ${res.dump?.length} bytes`)
            res.tagType = res.dump.length === 4096 ? 1 : 0

            // try anti-collision
            if (_.isNil(res.uid) && isMf1MagicBlock0(res.dump)) {
              _.merge(res, {
                atqa: toHex(res.dump.subarray(6, 8).toReversed()),
                sak: toHex(res.dump.subarray(5, 6)),
                uid: toHex(res.dump.subarray(0, 4)),
              })
            }

            Object.assign(ss, res)
            mfGrabKeysFromDump() // must after update ss.dump
          } catch (err) {
            logError(err)
            await swalFire({ icon: 'error', title: 'Edit failed', text: err.message })
          }
        }

        async function btnImportDump () {
          try {
            showLoading({ text: 'Importing' })
            const file = await new Promise(resolve => {
              dumpImport.cb = resolve
              const inputEl = dumpImportInputRef.value
              inputEl.value = ''
              inputEl.click()
            })
            if (_.isNil(file)) throw new Error('No file selected')
            if (file.size > 1e6) throw new Error(`File size too large: ${file.size} bytes`)
            const dotIdx = file.name.lastIndexOf('.')
            if (dotIdx === -1) throw new Error('Invalid file name')
            const ext = _.toLower(file.name.slice(dotIdx + 1))
            const buf = new Buffer(await file.arrayBuffer())
            const res = {
              dump: null,
            }
            switch (ext) {
              case 'bin': {
                res.dump = buf
                break
              }
              case 'json':
              case 'json5': {
                const card = ChameleonUltra.mf1DumpFromPm3Json(buf)
                _.merge(res, {
                  uid: toHex(card.uid),
                  atqa: toHex(card.atqa.toReversed()),
                  sak: toHex(card.sak),
                  ats: toHex(card.ats),
                  dump: card?.body,
                })
                break
              }
              case 'eml': {
                res.dump = ChameleonUltra.mf1DumpFromEml(buf)
                break
              }
              case 'mct': {
                res.dump = ChameleonUltra.mf1DumpFromMct(buf)
                break
              }
              default:
                throw new Error(`Unsupported file extension: ${ext}`)
            }
            if (!Buffer.isBuffer(res.dump)) throw new Error('Failed to import dump')
            if (!_.includes([1024, 4096], res.dump.length)) throw new Error(`dump size invalid: ${res.dump?.length} bytes`)
            res.tagType = res.dump.length === 4096 ? 1 : 0

            // try anti-collision
            if (_.isNil(res.uid) && isMf1MagicBlock0(res.dump)) {
              _.merge(res, {
                atqa: toHex(res.dump.subarray(6, 8).toReversed()),
                sak: toHex(res.dump.subarray(5, 6)),
                uid: toHex(res.dump.subarray(0, 4)),
              })
            }

            Object.assign(ss, res)
            mfGrabKeysFromDump() // must after update ss.dump

            await swalFire({ icon: 'success', title: 'Import success', text: 'Please verify import result. Invalid bytes has been replace with 0x00.' })
          } catch (err) {
            logError(err)
            await swalFire({ icon: 'error', title: 'Import failed', text: err.message })
          }
        }

        async function btnExportDump () {
          const dump = ss.dump
          const atqa = Buffer.from(ss.atqa, 'hex').toReversed()
          const ats = Buffer.from(ss.ats, 'hex')
          const sak = Buffer.from(ss.sak, 'hex')
          const uid = Buffer.from(ss.uid, 'hex')
          const strUid = toHex(uid)

          // json
          const json = ChameleonUltra.mf1DumpToPm3Json({ atqa, ats, body: dump, sak, uid })
          dumpExport.json = {
            href: URL.createObjectURL(new Blob([JSON.stringify(json, null, 2)], { type: 'application/octet-stream' })),
            download: `hf-mf-${strUid}.json`,
          }

          // bin
          dumpExport.bin = {
            href: URL.createObjectURL(new Blob([dump], { type: 'application/octet-stream' })),
            download: `hf-mf-${strUid}.bin`,
          }

          // eml
          const eml = ChameleonUltra.mf1DumpToEml({ body: dump })
          dumpExport.eml = {
            href: URL.createObjectURL(new Blob([eml], { type: 'application/octet-stream' })),
            download: `hf-mf-${strUid}.eml`,
          }

          // mct
          const mct = ChameleonUltra.mf1DumpToMct({ body: dump })
          dumpExport.mct = {
            href: URL.createObjectURL(new Blob([mct], { type: 'application/octet-stream' })),
            download: `hf-mf-${strUid}.mct`,
          }

          await nextTick() // wait for DOM update
          Modal.getOrCreateInstance(dumpExportModalRef.value).show()
        }

        async function btnWriteEmu () {
          try {
            const { atqa, ats, dump, sak, slot, tagType, uid } = ss
            ultra.value.emitter.emit('debug', 'web', { atqa, ats, dump, sak, slot, tagType, uid })
            const slotName = await ultra.value.cmdSlotGetFreqName(slot, FreqType.HF) ?? '(no name)'
            const msg1 = `The hf data of slot ${slot + 1} "${slotName}" will be REPLACE! Continue?`
            if (!await swalConfirm(msg1, 'Yes', 'Cancel')) return
            showLoading({ text: 'Emulating...' })
            await ultra.value.cmdChangeDeviceMode(DeviceMode.TAG)
            await ultra.value.slotChangeTagTypeAndActive(slot, tagType ? TagType.MIFARE_4096 : TagType.MIFARE_1024) // reset slot
            await ultra.value.cmdSlotSetFreqName(slot, FreqType.HF, `mfkey32_${uid}`)
            // set anti-coll
            const tag = {
              atqa: Buffer.from(atqa, 'hex').toReversed(),
              ats: Buffer.from(ats, 'hex'),
              sak: Buffer.from(sak, 'hex'),
              uid: Buffer.from(uid, 'hex'),
            }
            await ultra.value.cmdMf1SetAntiCollMode(false)
            await ultra.value.cmdHf14aSetAntiCollData(tag)
            await ultra.value.cmdMf1SetDetectionEnable(true) // enable detection
            for (const [i, chunk] of _.entries(dump.chunk(64))) {
              await ultra.value.cmdMf1EmuWriteBlock(i << 2, chunk)
            }
            await ultra.value.cmdSlotSaveSettings()
            await swalFire({ icon: 'success', title: 'Emulate successfully!' })
          } catch (err) {
            logError(err)
            await swalFire({ icon: 'error', title: 'Failed to emulate tag.', text: err.message })
          }
        }

        async function btnRecoverKeys () {
          try {
            const swalCfg = {
              text: 'Connecting device...',
              progressSteps: ['1', '2', '3'],
              currentProgressStep: 0,
            }
            showLoading(swalCfg)
            const logCnt = await ultra.value.cmdMf1GetDetectionCount()
            if (logCnt < 2) throw new Error('Please let reader to read ChameleonUltra more than 2 times to collect logs.')

            // retrive logs
            let logs = []
            while (logs.length < logCnt) {
              showLoading(_.merge(swalCfg, {
                currentProgressStep: 1,
                text: `Retrive logs: ${logs.length} / ${logCnt}`,
              }))
              await sleep(0) // 等待 UI 更新
              logs.push(...await ultra.value.cmdMf1GetDetectionLogs(logs.length))
            }
            showLoading(_.merge(swalCfg, {
              currentProgressStep: 1,
              text: `Retrive logs: ${logs.length} / ${logCnt}`,
            }))
            await sleep(0) // 等待 UI 更新
            ultra.value.emitter.emit('debug', 'web', `logs = ${JSON.stringify(logs)}`)

            // calc how many mfkey32v2 need to be run
            logs = _.values(_.groupBy(logs, log => `${toHex(log.uid)}-${blockToSector(log.block)}-${'AB'[+log.isKeyB]}`))
            const recoverMax = _.sumBy(logs, arr => arr.length * (arr.length - 1) / 2)

            const skipRecordsByKnownKey = (recs, key) => {
              for (const rec of recs) {
                if (rec.skip) continue
                const isReaderHasKey = Crypto1.mfkey32IsReaderHasKey({
                  uid: rec.uid,
                  nt: rec.nt,
                  nr: rec.nr,
                  ar: rec.ar,
                  key,
                })
                if (isReaderHasKey) rec.skip = true
              }
            }

            const newKeys = []
            let recoverCnt = 0
            for (const grp of logs) {
              for (const knownKey of mfGetKeys() ?? []) skipRecordsByKnownKey(grp, knownKey)
              for (let i = 0; i < grp.length; i++) {
                const r0 = grp[i]
                for (let j = i + 1; j < grp.length; j++) {
                  showLoading(_.merge(swalCfg, {
                    currentProgressStep: 2,
                    text: `Recover log pairs: ${recoverCnt++} / ${recoverMax}`,
                  }))
                  await sleep(0) // 等待 UI 更新
                  const r1 = grp[j]
                  if (r0.skip || r1.skip) continue // skip by known key
                  try {
                    const key1 = mfkey32v2(r0.uid, r0, r1)
                    newKeys.push(key1)
                    r0.skip = r1.skip = true
                    skipRecordsByKnownKey(grp, key1)
                  } catch (err) {
                    logError(err)
                  }
                }
              }
              mfMergeKeys(newKeys)
            }
            if (newKeys.length > 0) {
              await swalFire({ icon: 'success', title: `Recovered ${newKeys.length} keys!`, text: 'You can repeat whole process to recover more keys.' })
              await btnEditKeys()
            } else {
              await swalFire({ icon: 'success', title: 'No new keys recovered', text: 'You can read tag and then export dump.' })
            }
          } catch (err) {
            logError(err)
            await swalFire({ icon: 'error', title: 'Failed to recover key.', text: err.message })
          }
        }

        async function btnCopy (text) {
          try {
            text = `${text}`
            const clipboard = navigator.clipboard
            if (!clipboard) throw new Error('Clipboard API is not supported.')
            await clipboard.writeText(text)
            await swalFire({ icon: 'success', title: `${text.length} bytes copied.` })
          } catch (err) {
            await swalFire({ icon: 'error', title: 'Copy failed', text: err.message })
          }
        }

        return {
          ls,
          ss,
          dumpImport,
          dumpExport,
          exportimport,
          ultra,
          btnAdapterTips,
          btnEditKeys,
          btnReadTag,
          btnNewDump,
          btnEditDump,
          btnImportDump,
          btnExportDump,
          btnWriteEmu,
          btnRecoverKeys,
          btnCopy,
          showLoading,
          swalFire,
        }
      },
    }).mount('#app')
