extends /include/bootstrap5

block beforehtml
  -
    title = 'Mifare Keychain'
    description = 'Keep a few mifare tags in browser with indexedDB.'
    ogImage = 'https://i.imgur.com/1Xe3Fgs.png'
    ogImageWidth = 1200
    ogImageHeight = 600
    ogUrl = `${baseurl}mifare-keychain.html`

block style
  style
    :sass
      [v-cloak]
        display: none
      .input-group-text
        width: 80px
      .shield
        display: inline-flex
        font-size: 75%
        letter-spacing: -.5px
        line-height: 1
        position: relative
        vertical-align: middle
        white-space: nowrap
        .shield-name, .shield-value
          padding: .25em .4em
        .shield-name
          align-items: center
          border-bottom-left-radius: .25rem
          border-top-left-radius: .25rem
          display: inline-flex
        .shield-value
          border-bottom-right-radius: .25rem
          border-top-right-radius: .25rem
          border: 1px solid #ccc
          border-left: 0
      .bg-00A98F
        background-color: #00A98F
      .bg-B02CCE
        background-color: #B02CCE
      .bg-004680
        background-color: #004680
      .bg-5D6D7E
        background-color: #5D6D7E

block content
  #app
    .container.font-monospace.p-3.pb-5(v-cloak)
      header.text-center.mb-3
        h4.d-flex.justify-content-center.align-items-center.icon-link
          span.svgmask.svgmask-chameleon-ultra
          = title
      include /include/bootstrap5-adapter-content
      .card.shadow.mb-3
        h6.card-header.icon-link
          span.svgmask.fs-1dot2em(style="--svgmask-url: url(https://api.iconify.design/mdi:tag-multiple-outline.svg)")
          | Tag Anti Collision
        .card-body.overflow-hidden
          .was-validated
            .input-group.input-group-sm.mb-2
              label.input-group-text.justify-content-center(for="ss-tagType") TYPE
              select.form-select.form-select-sm#ss-tagType(v-model.number="ss.tagType")
                option(v-for="(v, k) in tagTypeOptions", :key="k", :value="k") {{ v }}
            .input-group.input-group-sm.mb-2
              label.input-group-text.justify-content-center(for="ss-name") NAME
              input.form-control.form-control-sm#ss-name(placeholder="Name of HF slot", v-model="ss.name")
              button.btn.btn-outline-secondary.icon-link(type="button", @click="ss.name = ''")
                span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:close.svg)")
            .input-group.input-group-sm.mb-2
              label.input-group-text.justify-content-center(for="ss-uid") UID
              input.form-control.form-control-sm#ss-uid(pattern="[\\dA-Fa-f]{8}([\\dA-Fa-f]{6})?([\\dA-Fa-f]{6})?", maxlength="20", placeholder="Hex format of UID", required, v-model="ss.uid")
              button.btn.btn-outline-secondary.icon-link(type="button", @click="ss.uid = ''")
                span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:close.svg)")
            .input-group.input-group-sm.mb-2
              label.input-group-text.justify-content-center(for="ss-atqa") ATQA
              input.form-control.form-control-sm#ss-atqa(pattern="[\\dA-Fa-f]{4}", maxlength="4", placeholder="Hex format of ATQA", required, v-model="ss.atqa")
              button.btn.btn-outline-secondary.icon-link(type="button", @click="ss.atqa = ''")
                span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:close.svg)")
            .input-group.input-group-sm.mb-2
              label.input-group-text.justify-content-center(for="ss-sak") SAK
              input.form-control.form-control-sm#ss-sak(pattern="[\\dA-Fa-f]{2}", maxlength="2", placeholder="Hex format of SAK", required, v-model="ss.sak")
              button.btn.btn-outline-secondary.icon-link(type="button", @click="ss.sak = ''")
                span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:close.svg)")
            .input-group.input-group-sm.mb-2
              label.input-group-text.justify-content-center(for="ss-ats") ATS
              input.form-control.form-control-sm#ss-ats(pattern="([\\dA-Fa-f]{2})*", placeholder="Hex format of ATS", v-model="ss.ats")
              button.btn.btn-outline-secondary.icon-link(type="button", @click="ss.ats = ''")
                span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:close.svg)")
            .row.mb-2: .col
              small.form-text.text-muted(v-if="savedTagName") Tag is saved as "{{ savedTagName }}".
              small.form-text.text-muted(v-else) Tag is not saved yet.
            .row.g-2
              .col: button.btn.w-100.btn-outline-primary.d-flex.flex-column.align-items-center(type="button", @click="btnLoadTag")
                span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:folder-open-outline.svg)")
                .mt-1 Load
              .col: button.btn.w-100.btn-outline-success.d-flex.flex-column.align-items-center(type="button", @click="btnSaveTag")
                span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:content-save-outline.svg)")
                .mt-1 Save
              .col: button.btn.w-100.btn-outline-info.d-flex.flex-column.align-items-center(type="button", @click="btnTagCsv")
                span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:database-outline.svg)")
                .mt-1 CSV
      .card.shadow.mb-3
        h6.card-header.icon-link
          span.svgmask.svgmask-chameleon-ultra
          | HF Slot Emulator
        .card-body.overflow-hidden
          .input-group.input-group-sm.mb-2
            label.input-group-text.justify-content-center(for="ss-slot") SLOT
            select.form-select.form-select-sm#ss-slot(v-model.number="ss.slot")
              option(value="-1") use active slot
              option(v-for="i of 8", :key="i", :value="i - 1") Slot {{ i }}
          .row.g-2.mb-2
            .col
              button.btn.w-100.btn-outline-primary.d-flex.flex-column.align-items-center(type="button", @click="btnReadSlot")
                span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:logout.svg)")
                .mt-1 Read
            .col
              button.btn.w-100.btn-outline-success.d-flex.flex-column.align-items-center(type="button", @click="btnEmulateSlot")
                span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:login.svg)")
                .mt-1 Emulate
      .card.shadow.mb-3
        h6.card-header.icon-link
          span.svgmask.svgmask-nfc
          | Magic Tag (Gen1a, Gen2)
        .card-body.overflow-hidden
          .row.g-2.mb-2
            .col
              button.btn.w-100.btn-outline-primary.d-flex.flex-column.align-items-center(type="button", @click="btnScanTag")
                span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:tag-arrow-down-outline.svg)")
                .mt-1 Scan
            .col
              button.btn.w-100.btn-outline-success.d-flex.flex-column.align-items-center(type="button", @click="btnWriteTag")
                span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:tag-arrow-up-outline.svg)")
                .mt-1 Write
            .col
              button.btn.w-100.btn-outline-info.d-flex.flex-column.align-items-center(type="button", @click="btnEditMfkeys")
                span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:key-outline.svg)")
                .mt-1.ls-n2px Gen2 Keys
    .modal.fade(data-bs-keyboard="false", tabindex="-1", ref="tagPickerModal")
      .modal-dialog.modal-dialog-centered.modal-xl
        .modal-content
          .modal-header.d-flex.align-items-center
            .modal-title.flex-fill
              .input-group
                span.input-group-text Search
                input.form-control(placeholder="name or uid", v-model="tagPicker.keyword")
                button.btn.btn-outline-danger(type="button", @click="tagPicker.keyword = ''") Clear
            button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
          .modal-body.p-0
            ul.list-group.list-group-flush
              button.list-group-item.list-group-item-action.d-flex.flex-column(
                :class="[tagPicker?.cur === tag.id ? 'list-group-item-secondary' : '']",
                :key="tag.id",
                @click="tagPicker?.cb?.(tag)",
                type="button",
                v-for="tag of filteredTags",
              )
                h5.my-1 {{ tag.name }}
                .d-flex.flex-wrap.mx-n1
                  .shield.mx-1.mb-1
                    .shield-name.text-white.bg-00A98F UID
                    .shield-value.text-dark.bg-white {{ tag.uid }}
                  .shield.mx-1.mb-1
                    .shield-name.text-white.bg-004680 ATQA
                    .shield-value.text-dark.bg-white {{ tag.atqa }}
                  .shield.mx-1.mb-1
                    .shield-name.text-white.bg-B02CCE SAK
                    .shield-value.text-dark.bg-white {{ tag.sak }}
                  .shield.mx-1.mb-1(v-if="tag.ats")
                    .shield-name.text-white.bg-5D6D7E ATS
                    .shield-value.text-dark.bg-white {{ tag.ats }}
    .modal.fade(data-bs-backdrop="static", data-bs-keyboard="false", tabindex="-1", ref="exportimportModal")
      .modal-dialog.modal-dialog-centered.modal-xl.align-items-stretch
        .modal-content
          .modal-body.d-flex.flex-column
            textarea.form-control.form-control-sm.flex-fill(v-model="exportimport.text")
            small.text-muted.form-text Click "Copy" button to copy text, or modify data then click "Apply" button.
          .modal-footer
            button.btn.btn-outline-success(type="button", @click="btnCopy(exportimport.text)") Copy
            button.btn.btn-secondary(type="button", @click="exportimport?.cb?.()") Cancel
            button.btn.btn-primary(type="button", @click="exportimport?.cb?.(exportimport.text)") Apply

block script
  script(type="module").
    import { Buffer, ChameleonUltra, DeviceMode, FreqType, TagType } from 'chameleon-ultra.js'
    import Debug from 'chameleon-ultra.js/plugin/Debug'
    import WebbleAdapter from 'chameleon-ultra.js/plugin/WebbleAdapter'
    import WebserialAdapter from 'chameleon-ultra.js/plugin/WebserialAdapter'
    import { Modal } from 'bootstrap'
    import JSON5 from 'json5'
    import _ from 'lodash'
    import Papa from 'papaparse'
    import { computed, createApp, nextTick, reactive, useTemplateRef, watch } from 'vue'
    import { btnAdapterTips, loadPageStorage, savePageStorage, showLoading, swalConfirm, swalFire } from '@app/js/bootstrap5-utils.mjs'
    import Swal from 'sweetalert2'

    const { FlexSearch } = window

    const ultraUsb = new ChameleonUltra()
    ultraUsb.use(new Debug())
    ultraUsb.use(new WebserialAdapter())
    const ultraBle = new ChameleonUltra()
    ultraBle.use(new Debug())
    ultraBle.use(new WebbleAdapter())

    const toHex = buf => _.toUpper(buf.toString('hex'))
    const WELL_KNOWN_KEYS = ['FFFFFFFFFFFF', 'A0A1A2A3A4A5', 'D3F7D3F7D3F7']
    const tagTypeOptions = {
      [TagType.MIFARE_1024]: 'MIFARE_1024',
      [TagType.MIFARE_Mini]: 'MIFARE_Mini',
      [TagType.MIFARE_2048]: 'MIFARE_2048',
      [TagType.MIFARE_4096]: 'MIFARE_4096',
    }
    const mTagType = new Map(_.flatMap(tagTypeOptions, (v, k) => [[v, _.toInteger(k)], [_.toInteger(k), v]]))
    const getNxpMifareClassType = sak => {
      // https://www.nxp.com/docs/en/application-note/AN10833.pdf
      sak &= 0b11001 // bit 1, 4, 5
      if (sak === 0x09) return TagType.MIFARE_Mini
      if (sak === 0x08) return TagType.MIFARE_1024
      if (sak === 0x19) return TagType.MIFARE_2048
      if (sak === 0x18) return TagType.MIFARE_4096
    }
    const validateTagOrFail = c => {
      for (const k of ['uid', 'sak', 'atqa', 'ats']) c[k] = _.toUpper(c[k])
      if (!/^[\dA-F]{4}$/.test(c.atqa)) throw new Error(`invalid atqa: ${c.atqa}`)
      if (!/^[\dA-F]{2}$/.test(c.sak)) throw new Error(`invalid sak: ${c.sak}`)
      if (!/^(?:[\dA-F]{8}|[\dA-F]{14}|[\dA-F]{20})$/.test(c.uid)) throw new Error(`invalid uid: ${c.uid}`)
      if (!/^([\dA-F]{2})*$/.test(c.ats)) throw new Error(`invalid ats: ${c.ats}`)
      if (!_.has(tagTypeOptions, c.tagType)) throw new Error(`invalid tagType: ${c.tagType}`)
      c.tagType = _.toInteger(c.tagType)
      return _.pick(c, ['atqa', 'ats', 'name', 'sak', 'tagType', 'uid'])
    }
    const validateTag = c => {
      try {
        return validateTagOrFail(c)
      } catch (err) {
        return null
      }
    }

    window.vm = createApp({
      setup () {
        const ls = reactive({ adapter: 'ble', tags: [] })
        const ss = reactive({
          atqa: '0004',
          ats: '',
          mfkeys: WELL_KNOWN_KEYS.join('\n'),
          name: '',
          sak: '08',
          slot: -1,
          tagType: TagType.MIFARE_1024,
          uid: 'DEADBEEF',
        })
        const exportimport = reactive({ text: '', cb: null })
        const tagPicker = reactive({ cb: null, cur: null, flexsearch: null, keyword: '', mTags: null, tags: [] })

        const tagPickerModalRef = useTemplateRef('tagPickerModal')
        const exportimportModalRef = useTemplateRef('exportimportModal')

        loadPageStorage(localStorage, ls)
        loadPageStorage(sessionStorage, ss)
        watch(ls, () => { savePageStorage(localStorage, ls) }, { deep: true })
        watch(ss, () => { savePageStorage(sessionStorage, ss) }, { deep: true })

        const ultra = computed(() => ls.adapter === 'usb' ? ultraUsb : ultraBle)
        const mfkeys = computed(() => ChameleonUltra.mf1KeysFromDict(ss.mfkeys))
        const ssTag = computed(() => validateTag(ss))
        const filteredTags = computed(() => {
          const { flexsearch, keyword, mTags, tags } = tagPicker
          const limit = 100
          try {
            if (_.isNil(flexsearch) || _.isNil(mTags) || keyword?.length === 0) return _.take(tags, limit)
            return flexsearch.search(keyword, limit).map(id => mTags.get(id))
          } catch (err) {
            return _.take(tags, limit)
          }
        })
        const savedTagName = computed(() => {
          return _.isNil(ssTag.value) ? null : _.find(ls.tags, _.omit(ssTag.value, ['name']))?.name
        })

        const logError = err => { ultra.value.emitter.emit('error', err) }

        async function btnLoadTag () {
          try {
            const tags = _.map(ls.tags, (tag, tagIdx) => ({ ...tag, id: tagIdx }))
            const cur = _.isNil(ssTag.value) ? null : _.find(tags, _.omit(ssTag.value, ['name']))?.id
            const flexsearch = FlexSearch.Index({ preset: 'default', tokenize: 'full' })
            const mTags = new Map()
            for (const tag of tags) {
              flexsearch.add(tag.id, `${tag.uid} ${tag.name}`)
              mTags.set(tag.id, tag)
            }

            // show tag picker
            const modalEl = tagPickerModalRef.value
            const modal = Modal.getOrCreateInstance(modalEl)
            const newVal = validateTag(await new Promise(resolve => {
              Object.assign(tagPicker, { cb: resolve, cur, flexsearch, keyword: '', mTags, tags })
              modalEl.addEventListener('hidden.bs.modal', () => resolve(), { once: true })
              modal.show()
            }))
            modal.hide()
            await nextTick() // wait for next tick
            if (!_.isNil(newVal)) _.merge(ss, newVal)
            Object.assign(tagPicker, { cb: null, cur: null, flexsearch: null, keyword: '', mTags: null, tags: [] })
          } catch (err) {
            logError(err)
            await swalFire({ icon: 'error', title: 'Load failed', text: err.message })
          }
        }

        async function btnSaveTag () {
          try {
            showLoading({ text: 'Saving tag...' })
            const tag = validateTagOrFail(ss)
            if (!_.isString(tag.name) || tag.name.length < 1) tag.name = `UID_${tag.uid}`
            const oldTag = _.find(ls.tags, _.omit(tag, ['name']))
            if (_.isNil(oldTag)) ls.tags.push(tag)
            else _.merge(oldTag, tag)
            await swalFire({ icon: 'success', title: 'Save successfully' })
          } catch (err) {
            logError(err)
            await swalFire({ icon: 'error', title: 'Save failed', text: err.message })
          }
        }

        async function btnTagCsv () {
          try {
            const oldTags = _.chain(ls.tags)
              .map(validateTag)
              .compact()
              .map(tag => ({ ...tag, tagType: mTagType.get(tag.tagType) ?? tag.tagType }))
              .value()
            const oldCsv = Papa.unparse(oldTags, {
              columns: ['tagType', 'uid', 'atqa', 'sak', 'ats', 'name'],
              header: true,
            })

            // show export import
            const modalEl = exportimportModalRef.value
            const modal = Modal.getOrCreateInstance(modalEl)
            let newVal = await new Promise(resolve => {
              Object.assign(exportimport, { cb: resolve, text: oldCsv })
              modalEl.addEventListener('hidden.bs.modal', () => resolve(), { once: true })
              modal.show()
            })

            // import newCsv
            while (!_.isNil(newVal)) {
              try {
                const newTags = Papa.parse(_.trim(newVal), { header: true, skipEmptyLines: true })?.data ?? []
                for (let i = 0; i < newTags.length; i++) {
                  let tag = newTags[i]
                  try {
                    tag.tagType = _.has(tagTypeOptions, tag.tagType) ? tag.tagType : mTagType.get(tag.tagType) ?? tag.tagType
                    tag.name = _.isString(tag.name) && tag.name.length > 0 ? tag.name : `UID_${tag.uid}`
                    tag = newTags[i] = validateTagOrFail(tag)
                  } catch (err) {
                    throw _.update(err, 'message', msg => `line ${i + 2}: ${msg}, tag = ${JSON5.stringify(tag)}`)
                  }
                }
                ls.tags = newTags
                await swalFire({ icon: 'success', title: `${newTags.length} records imported` })
                break
              } catch (err) {
                logError(err)
                await swalFire({ icon: 'error', title: 'Import failed', text: err.message })
                newVal = await new Promise(resolve => { exportimport.cb = resolve })
              }
            }

            modal.hide()
            Object.assign(exportimport, { cb: null, text: '' })
          } catch (err) {
            logError(err)
            await swalFire({ icon: 'error', title: 'Failed', text: err.message })
          }
        }

        async function btnReadSlot () {
          try {
            showLoading({ text: 'Reading slot...' })
            let { slot } = ss
            if (slot < 0) slot = await ultra.value.cmdSlotGetActive()
            await ultra.value.cmdSlotSetActive(slot)
            const slotInfo = await ultra.value.cmdSlotGetInfo()
            const tagType = slotInfo[slot].hfTagType
            if (!_.has(tagTypeOptions, tagType)) throw new Error(`slot tagType ${TagType[tagType]} is not supported.`)
            const slotName = await ultra.value.cmdSlotGetFreqName(slot, FreqType.HF)
            const anticoll = await ultra.value.cmdHf14aGetAntiCollData()
            const tag = validateTag({
              atqa: toHex(anticoll.atqa.toReversed()),
              ats: toHex(anticoll.ats),
              name: slotName ?? `UID_${toHex(anticoll.uid)}`,
              sak: toHex(anticoll.sak),
              tagType,
              uid: toHex(anticoll.uid),
            })
            if (_.isNil(tag)) throw new Error('Failed to read tag data from slot.')
            ultra.value.emitter.emit('debug', 'web', `tag = ${JSON.stringify(tag)}`)
            _.merge(ss, tag)
            Swal.close()
          } catch (err) {
            logError(err)
            await swalFire({ icon: 'error', title: 'Read failed', text: err.message })
          }
        }

        async function btnEmulateSlot () {
          try {
            let { slot } = ss
            const tag = validateTagOrFail(ss)
            const antiColl = {
              atqa: Buffer.from(tag.atqa, 'hex').reverse(),
              ats: Buffer.from(tag.ats, 'hex'),
              sak: Buffer.from(tag.sak, 'hex'),
              uid: Buffer.from(tag.uid, 'hex'),
            }
            if (!_.includes([4, 7], antiColl.uid.length)) throw new Error('Only support 4 or 7 bytes UID for emulation.')
            showLoading({ text: 'Emulating slot...' })
            if (slot < 0) slot = await ultra.value.cmdSlotGetActive()
            ultra.value.emitter.emit('debug', 'web', JSON5.stringify(tag))
            const oldName = await ultra.value.cmdSlotGetFreqName(slot, FreqType.HF) ?? '(no name)'
            const msg1 = `The hf data of slot ${slot + 1} "${oldName}" will be REPLACE! Continue?`
            if (!await swalConfirm(msg1, 'Yes', 'Cancel')) return
            showLoading({ text: 'Emulating slot...' })
            await ultra.value.assureDeviceMode(DeviceMode.TAG)
            // tag anti-coll
            await ultra.value.slotChangeTagTypeAndActive(slot, tag.tagType) // reset slot
            // set emulated tag
            await ultra.value.cmdMf1SetAntiCollMode(false)
            await ultra.value.cmdHf14aSetAntiCollData(antiColl)
            await ultra.value.cmdMf1EmuWriteBlock(0, ChameleonUltra.mf1GenMagicBlock0(antiColl)) // set block0
            await ultra.value.cmdSlotSetFreqName(slot, FreqType.HF, tag.name)
            await ultra.value.cmdSlotSaveSettings()
            await swalFire({ icon: 'success', title: 'Emulate successfully!' })
          } catch (err) {
            logError(err)
            await swalFire({ icon: 'error', title: 'Emulate Failed', text: err.message })
          }
        }

        async function btnScanTag () {
          try {
            showLoading({ text: 'Scanning tag...' })
            const anticoll = _.first(await ultra.value.cmdHf14aScan())
            const tagType = getNxpMifareClassType(anticoll.sak[0])
            if (_.isNil(tagType)) await Swal.fire({ icon: 'warning', title: 'Unknown tag type', text: 'You need to select the correct tag type.' })
            const tag = validateTagOrFail({
              atqa: toHex(anticoll.atqa.toReversed()),
              ats: toHex(anticoll.ats),
              sak: toHex(anticoll.sak),
              tagType: tagType ?? TagType.MIFARE_1024,
              uid: toHex(anticoll.uid),
            })
            tag.name = _.find(ls.tags, _.omit(tag, ['name']))?.name ?? `UID_${tag.uid}`
            ultra.value.emitter.emit('debug', 'web', `tag = ${JSON5.stringify(tag)}`)
            _.merge(ss, tag)
            Swal.close()
          } catch (err) {
            logError(err)
            await swalFire({ icon: 'error', title: 'Failed to scan tag.', text: err.message })
          }
        }

        function mf1GenMagicBlock0 (tag) {
          tag ??= ssTag.value
          if (_.isNil(tag)) throw new Error('Invalid tag data')
          const block0 = ChameleonUltra.mf1GenMagicBlock0({
            atqa: Buffer.from(tag.atqa, 'hex').reverse(),
            sak: Buffer.from(tag.sak, 'hex'),
            uid: Buffer.from(tag.uid, 'hex'),
          })
          ultra.value.emitter.emit('debug', 'web', `block0 = ${toHex(block0)}`)
          return block0
        }

        async function btnWriteTag () {
          try {
            const uid = _.toUpper(ss.uid)
            if (!/^[\dA-F]{8}$/.test(uid)) throw new Error('Only support 4 bytes UID')
            showLoading({ text: 'Writing tag...' })
            const errs = [null, null]
            const block0 = mf1GenMagicBlock0()
            // try Gen1a
            await ultra.value.mf1Gen1aWriteBlocks(0, block0).catch(err => {
              logError(err)
              errs[0] = err
            })
            if (!_.isNil(errs[0])) { // try Gen2
              await ultra.value.mf1WriteBlockByKeys(0, mfkeys.value, block0).catch(err => {
                logError(err)
                errs[1] = err
              })
            }
            if (!_.some(errs, _.isNil)) {
              throw new Error(JSON5.stringify({
                Gen1a: errs[0].message,
                Gen2: errs[1].message,
              }))
            }
            // double check
            const scanned = toHex(_.first(await ultra.value.cmdHf14aScan()).uid)
            if (scanned !== uid) throw new Error(`UID mismatch after write, scanned = ${scanned}`)
            await swalFire({ icon: 'success', title: 'Write successfully' })
          } catch (err) {
            logError(err)
            await swalFire({ icon: 'error', title: 'Write failed', text: err.message })
          }
        }

        async function btnEditMfkeys () {
          const modalEl = exportimportModalRef.value
          const modal = Modal.getOrCreateInstance(modalEl)
          const newVal = await new Promise(resolve => {
            Object.assign(exportimport, { cb: resolve, text: ss.mfkeys })
            modalEl.addEventListener('hidden.bs.modal', () => resolve(), { once: true })
            modal.show()
          })
          if (!_.isNil(newVal)) ss.mfkeys = newVal || WELL_KNOWN_KEYS.join('\n')
          modal.hide()
          Object.assign(exportimport, { cb: null, text: '' })
        }

        async function btnCopy (text) {
          try {
            text = `${text}`
            const clipboard = navigator.clipboard
            if (!clipboard) throw new Error('Clipboard API is not supported.')
            await clipboard.writeText(text)
            await swalFire({ icon: 'success', title: `${text.length} bytes copied.` })
          } catch (err) {
            await swalFire({ icon: 'error', title: 'Copy failed', text: err.message })
          }
        }

        return {
          ls,
          ss,
          exportimport,
          tagPicker,
          tagTypeOptions,
          ultra,
          filteredTags,
          savedTagName,
          btnAdapterTips,
          btnLoadTag,
          btnSaveTag,
          btnTagCsv,
          btnReadSlot,
          btnEmulateSlot,
          btnScanTag,
          btnWriteTag,
          btnEditMfkeys,
          btnCopy,
          showLoading,
          swalFire,
        }
      },
    }).mount('#app')
