extends /include/bootstrap5

block beforehtml
  -
    title = 'Mifare Value Block'
    description = 'MIFARE Classic value block commands'
    ogImage = 'https://i.imgur.com/jJ3pNvn.png'
    ogImageWidth = 1200
    ogImageHeight = 600
    ogUrl = `${baseurl}mifare-value.html`

block style
  style
    :sass
      [v-cloak]
        display: none
      .input-group-text
        width: 80px

block content
  #app
    nav-bar(baseurl=baseurl)
    .container.font-monospace.p-3.pb-5(v-cloak)
      header.text-center.mb-3
        h4.d-flex.justify-content-center.align-items-center.icon-link
          span.svgmask.svgmask-chameleon-ultra
          = title
      include /include/bootstrap5-adapter-content
      .mb-3
        label.form-label Value Block: Source
        .input-group.input-group-sm.mb-2.was-validated
          span.input-group-text.justify-content-center Block
          input.form-control(type="number", min="0", max="63", required, v-model.number="ss.src.block")
          span.input-group-text Sector {{ blockToSector(ss?.src?.block ?? 0) }}
        .input-group.input-group-sm.mb-2
          span.input-group-text.justify-content-center KeyType
          select.form-select.form-select-sm(v-model.number="ss.src.keyType")
            option(value="0") Key A
            option(value="1") Key B
        .input-group.input-group-sm.mb-2.was-validated
          span.input-group-text.justify-content-center Key
          input.form-control(pattern="[\\dA-Fa-f]{12}", maxlength="12", required, v-model="ss.src.key")
      .mb-3
        label.form-label Value Block: Target
        .form-check.mb-2
          input.form-check-input#ss-srcAsDst(type="checkbox", v-model="ss.srcAsDst")
          label.form-check-label(for="ss-srcAsDst") Use source as target
        template(v-if="ss.srcAsDst")
          .input-group.input-group-sm.mb-2
            span.input-group-text.justify-content-center Block
            input.form-control(type="number", v-model.number="ss.src.block", disabled)
            span.input-group-text Sector {{ blockToSector(ss?.src?.block ?? 0) }}
          .input-group.input-group-sm.mb-2
            span.input-group-text.justify-content-center KeyType
            select.form-select.form-select-sm(v-model.number="ss.src.keyType", disabled)
              option(value="0") Key A
              option(value="1") Key B
          .input-group.input-group-sm.mb-2
            span.input-group-text.justify-content-center Key
            input.form-control(type="text", v-model="ss.src.key", disabled)
        template(v-else)
          .input-group.input-group-sm.mb-2.was-validated
            span.input-group-text.justify-content-center Block
            input.form-control(type="number", min="0", max="63", required, v-model.number="ss.dst.block")
            span.input-group-text Sector {{ blockToSector(ss?.dst?.block ?? 0) }}
          .input-group.input-group-sm.mb-2
            span.input-group-text.justify-content-center KeyType
            select.form-select.form-select-sm(v-model.number="ss.dst.keyType")
              option(value="0") Key A
              option(value="1") Key B
          .input-group.input-group-sm.mb-2.was-validated
            span.input-group-text.justify-content-center Key
            input.form-control(pattern="[\\dA-Fa-f]{12}", maxlength="12", required, v-model="ss.dst.key")
      .mb-3
        label.form-label Value Block: Operation
        .input-group.input-group-sm.mb-2.was-validated
          span.input-group-text.justify-content-center Value
          input.form-control(type="number", required, v-model.number="ss.operand")
        .row.g-2
          .col-6: button.btn.w-100.btn-outline-success.d-flex.flex-column.align-items-center(type="button", @click="btnGetValue")
            span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:tag-arrow-down-outline.svg)")
            .mt-1.ls-n1px Get Source
          .col-6: button.btn.w-100.btn-outline-primary.d-flex.flex-column.align-items-center(type="button", @click="btnSetValue")
            span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:tag-arrow-up-outline.svg)")
            .mt-1.ls-n1px Set Source
          .col-4: button.btn.w-100.btn-outline-dark.d-flex.flex-column.align-items-center(type="button", @click="btnManipulateValue(Mf1VblockOperator.INCREMENT)")
            span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:plus-box-outline.svg)")
            .mt-1.ls-n1px Increase#[br]Value
          .col-4: button.btn.w-100.btn-outline-dark.d-flex.flex-column.align-items-center(type="button", @click="btnManipulateValue(Mf1VblockOperator.DECREMENT)")
            span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:minus-box-outline.svg)")
            .mt-1.ls-n1px Decrease#[br]Value
          .col-4: button.btn.w-100.btn-outline-dark.d-flex.flex-column.align-items-center(type="button", @click="btnManipulateValue(Mf1VblockOperator.RESTORE)")
            span.svgmask.fs-1dot5em(style="--svgmask-url: url(https://api.iconify.design/mdi:content-duplicate.svg)")
            .mt-1.ls-n1px Clone#[br]Value
  include /include/bootstrap5-navbar-content

block script
  script(type="module").
    import { Buffer, ChameleonUltra, Mf1KeyType, Mf1VblockOperator } from 'chameleon-ultra.js'
    import Debug from 'chameleon-ultra.js/plugin/Debug'
    import WebbleAdapter from 'chameleon-ultra.js/plugin/WebbleAdapter'
    import WebserialAdapter from 'chameleon-ultra.js/plugin/WebserialAdapter'
    import { computed, createApp, reactive, watch } from 'vue'
    import { btnAdapterTips, loadPageStorage, savePageStorage, showLoading, swalFire } from '@app/js/bootstrap5-utils.mjs'
    import NavBar from '@app/js/bootstrap5-navbar.mjs'

    const ultraUsb = new ChameleonUltra()
    ultraUsb.use(new Debug())
    ultraUsb.use(new WebserialAdapter())
    const ultraBle = new ChameleonUltra()
    ultraBle.use(new Debug())
    ultraBle.use(new WebbleAdapter())

    function blockToSector (block = 0) {
      return block < 128 ? block >>> 2 : 24 + (block >>> 4)
    }

    window.vm = createApp({
      components: { NavBar },
      setup () {
        const ls = reactive({ adapter: 'ble' })
        const ss = reactive({
          src: { block: 4, keyType: 0, key: 'FFFFFFFFFFFF' },
          dst: { block: 4, keyType: 0, key: 'FFFFFFFFFFFF' },
          operand: 0,
          srcAsDst: true,
        })

        loadPageStorage(localStorage, ls)
        loadPageStorage(sessionStorage, ss)
        watch(ls, () => { savePageStorage(localStorage, ls) }, { deep: true })
        watch(ss, () => { savePageStorage(sessionStorage, ss) }, { deep: true })

        const ultra = computed(() => ls.adapter === 'usb' ? ultraUsb : ultraBle)

        const logError = err => { ultra.value.emitter.emit('error', err) }

        function mf1ParseBlockKey ({ block, keyType, key }) {
          return {
            block,
            keyType: keyType === 1 ? Mf1KeyType.KEY_B : Mf1KeyType.KEY_A,
            key: Buffer.from(key, 'hex'),
          }
        }

        async function cmdVblockGet (src) {
          src = mf1ParseBlockKey(src)
          const res = await ultra.value.mf1VblockGetValue(src)
          await swalFire({ icon: 'success', title: 'Success', text: `block[${src.block}] = ${JSON.stringify(res)}` })
        }

        async function btnGetValue () {
          try {
            showLoading({ text: 'Processing...' })
            await cmdVblockGet(ss.src)
          } catch (err) {
            logError(err)
            await swalFire({ icon: 'error', title: 'Failed to get value from src', text: err.message })
          }
        }

        async function btnSetValue () {
          try {
            showLoading({ text: 'Processing...' })
            const src = mf1ParseBlockKey(ss.src)
            await ultra.value.mf1VblockSetValue(src, { adr: src.block, value: ss.operand })
            await cmdVblockGet(ss.src)
          } catch (err) {
            logError(err)
            await swalFire({ icon: 'error', title: 'Failed to set value to src', text: err.message })
          }
        }

        async function btnManipulateValue (operator) {
          try {
            showLoading({ text: 'Processing...' })
            const src = mf1ParseBlockKey(ss.src)
            const dst = ss.srcAsDst ? src : mf1ParseBlockKey(ss.dst)
            const operand = ss.operand
            await ultra.value.cmdMf1VblockManipulate(src, operator, operand, dst)
            await cmdVblockGet(ss.src)
          } catch (err) {
            logError(err)
            await swalFire({ icon: 'error', title: `Failed to ${Mf1VblockOperator[operator]} value`, text: err.message })
          }
        }

        return {
          ls,
          ss,
          ultra,
          Mf1VblockOperator,
          blockToSector,
          btnAdapterTips,
          btnGetValue,
          btnSetValue,
          btnManipulateValue,
          showLoading,
          swalFire,
        }
      },
    }).mount('#app')
